[2014-02-23 05:05] ghuntley opened #1 "Thoughts on converting this library over to PCL?"
Had a quick stab at converting the library over to PCL v4.5 Profile78 here's what has
been discovered so far:
- HttpUtility.ParseQueryString would need a substitute / see below for example:

https://stackoverflow.com/questions/20268544/portable-class-library-pcl-version-of-httputility-parsequerystring
- NameValueCollection would need a substitute / see above for example:  (HttpValueCollection)
- H

[2014-03-23 19:40] #1 closed, assigned to nobody

[2014-05-22 14:48] tmenier opened #2 "Non-portable versions for .NET 4 and 4.5? (Please weigh in with opinions!)"
The Flurl.Http NuGet package carries with it dependencies on several other packages necessary for portability but not all necessary on certain platforms, especially .NET 4.5. Specifically, Microsoft.Bcl.Async (for async/await support), Microsoft.Net.Http (for HttpClient), and PCLStorage (for DownloadFileAsync implementation).

While harmless, I'm concerned that this extra "baggage" may turn off de

[2014-05-22 16:08] tmenier opened #3 "Add support for XML"
At a minimum, support XDocuments (get, post, etc). XPath and deserialization are other possibilities.

[2014-05-29 16:50] benb1n opened #4 "Calling URL with HEAD verb"
I'm curious if there's an existing way to call a URL with HEAD using Flurl.Http.  I see that there are methods for GET, POST, PUT, DELETE, similar to the underlying HttpClient library.  HttpClient also exposes a SendAsync() method that allows you to send a custom HttpRequestMessage and override the HttpMethod.

[code]

I see that I can create my own extension methods, which would work.  If that's

[2014-06-02 04:24] #4 closed, assigned to nobody

[2014-06-11 19:30] #2 closed, assigned to nobody

[2014-06-20 14:24] tmenier opened #7 "Add support for cancellation tokens on HTTP calls"

[2014-07-03 16:35] ChrisWay opened #8 "Can't install into PCL targeting WP8.1"
Just discovered this project and it looks a really good fit for a project I'm working on but I'm having issues installing it into a PCL that targets Windows Phone 8.1. I've tested it by creating a new PCL project in VS2013 that targets .NET45, SL5, Win8, WinPhone SL 8, Android, iOS and the Flurl.Http Nuget package will install fine but adding WP8.1 into the PCL means the package does not install.

[2014-07-14 20:42] tmenier opened #9 "FlurlHttpException enhancements"
A very common scenario is to catch an exception and log the URL and status code. Make this a little easier by exposing these properties directly off FlurlHttpException:
- Url
- StatusCode (shortcut to Call.Response.StatusCode)

Also, rename `Call` to `CallDetails`? (would be breaking change)

[2014-07-24 16:46] #9 closed, assigned to nobody

[2014-10-24 16:26] KevM opened #13 "Tilde in query string values"
Just started using Flurl to build URLs with query strings.

I was writing some tests to ensure Flurl encodes [reserved and unsafe characters](http://www.blooberry.com/indexdot/html/topics/urlencoding.htm). All tests passed except this one for Tilde `~` characters.

[code]

It seems there is [some debate](http://www.cs.tut.fi/~jkorpela/tilde.html) about tilde characters being encoded or not.

[2014-10-27 22:44] #13 closed, assigned to nobody

[2014-11-14 23:35] jesusgarza opened #14 "Add support for a CookieContainer or make FlurlMessageHandler public"
I need to receive cookies from a site.
One option would be to send a FlurlMessageHandler initialized with a CookieContainer to the DefaultHttpClientFactory constructor, but that is not supported.
Another option is to create a custom HttpClientFactory and not call the base constructor. Something like this:

[code]

But FlurlMessageHandler is internal, so no luck.
Any ideas?

[2014-11-25 13:38] stefandevo opened #15 "Allow for multiple queryparam values"
I am trying to use Flurl with the disqus api (https://disqus.com/api/docs/).
They have in their api the possibility to define multiple values.

https://disqus.com/api/docs/forums/listPosts/

for example, you can provide "include" param multiple values.
Basically you get &limit=100&include=deleted&include=spam&include=approved

When using the library this is not possible...

I tried to build the ur

[2014-12-03 03:17] niemyjski opened #17 "Null parameters throws null reference exception"
I'm trying to pass in parameters

[code]

and I'm getting the following exception. It seems that we need to do some null checks for this.

[code]

Any chance for a quick fix? I'm a bit under the timeline but I'll try and get a pull request if needed.

[2014-12-03 12:39] niemyjski opened #20 "PostAsJson() overload that returns json instead of Ihttpmessage?"
I'm doing oauth work and I need to post content to google open connect.. It then returns json from the post and I need to parse it.. I can do that but it would be easier if an overload just returned json :).

[2014-12-06 15:29] #17 closed, assigned to nobody

[2014-12-06 15:49] #20 closed, assigned to nobody

[2014-12-06 17:06] #8 closed, assigned to nobody

[2014-12-06 18:47] #15 closed, assigned to nobody

[2014-12-08 21:50] benb1n opened #22 "Support for IDisposable"
@tmenier Is there currently a way to fluently call Flurl.Http (and the underlying HttpClient) in a way that disposes of HttpClient?  I see that I have direct access to HttpClient from FlurlClient, but then I have to manually dispose of it (and remember to do that), and it breaks up the fluent chain.  Thanks!

[2014-12-16 05:09] #22 closed, assigned to nobody

[2014-12-16 05:11] #14 closed, assigned to nobody

[2014-12-29 21:55] tmenier opened #23 "Come up with a better way to work with failed response bodies"
http://stackoverflow.com/questions/27686254/flurl-http-custom-error

[2015-01-13 22:22] omares opened #24 "ModernHttpClient support?"
Hey, is there a way to use the [ModernHttpClient](https://github.com/paulcbetts/ModernHttpClient) instead of HttpClient?

[2015-01-13 22:57] tmenier commented on #24
Sure. It looks like this would be fairly simple. First define a custom `HttpClient` factory like this:

[code]

Then on app startup, register it with Flurl thusly:

[code]

Let me know if this works for you.

[2015-01-15 09:51] hendrik-rebuy opened #25 "HttpTest does not call error callbacks"
Great Library, I'm very happy with it so far. Only hiccup was when testing error callbacks with the builtin httpTest framework the error callbacks didn't work, the exceptions were never caught. Since the before callback does work this is confusing to me.
Had to use an external Mock Server to test the error callbacks, seems a little bit unnecessary.

[2015-01-16 08:32] hendrik-rebuy commented on #25
After playing around some more and looking into the code, I see that I was confused because the error callbacks only catch exceptions on the sendAsync (e.g. no connection) and not the FlurlExceptions for bad request for example also json serialization exceptions aren't caught.

So it wasn't an issue with the testing framework.

But still I have to ask whats the reasoning for only catching the low

[2015-01-16 15:22] tmenier commented on #25
Hi Hendrik,
Thanks for pointing this out. I do see your point - not all error conditions will cause `OnError` to be fired, and that behavior was not intentional. I'll consider this a high-priority issue and address it soon.

[2015-01-16 15:37] hendrik-rebuy commented on #25
Thanks sounds good.

[2015-01-16 22:41] lmcnearney commented on #23
:+1:

I would have to agree that handling errors is currently a pain. Perhaps there should be an option to suppress throwing an exception if a non-200 HTTP response is returned? That way the developer can decide how to handle it manually like when using the built-in HttpClient or RestSharp client.

[2015-01-17 14:56] tmenier commented on #23
I would definitely consider something like that. Currently you can get at the "raw" `HttpResponseMessage` via `GetAsync()`, but you're right that you can't suppress the exception on non-200s. Maybe a good first step is just a bool param on `GetAsync`, `PostAsync`, etc. that does just that. Ultimately I'm aiming for a slick way to get an error poco out of a JSON API but haven't worked out the detai

[2015-01-17 22:05] tmenier commented on #25
This issue should be fixed in the latest version on NuGet (0.4.1). However, now that I re-read your comments I realize that serialization exceptions are an example of something that is still not intercepted by OnError. I'll need to think on that some more as it's a bit more involved. For now just know that all HTTP-related exceptions, including non-200 responses, are now intercepted correctly and

[2015-01-29 14:01] rshillington commented on #23
If you're taking votes, add my name to the list for a way to opt-out of the Exception on non-sucess responses.

[2015-01-31 20:50] julianpaulozzi opened #26 "Use InvariantCulture on SetQueryParams ToString"
Got some problems au try to use the "SetQueryParams" in other cultures.
When using the extension "ToString ()" as .ToString (CultureInfo.InvariantCulture) resolves the problem I had with floating types.

I believe that passing culture as invariant does not affect most and can solve many cases of problems with numbers.

Is this possible?
Or is there any other way around this?

[2015-02-01 15:41] tmenier commented on #26
Good suggestion, I agree completely. I'll make this change to SetQueryParams and anywhere else it may be applicable.

[2015-02-01 15:53] julianpaulozzi commented on #26
Cool, thank you.

[2015-02-01 22:24] tmenier commented on #24
Closing this issue. If for some reason it did not work, feel free to re-open or just comment.

[2015-02-01 22:24] #24 closed

[2015-02-01 22:27] tmenier opened #27 "Support Silverlight 5"
More specifically, figure out why it stopped working in the first place.

http://stackoverflow.com/questions/28181357/the-type-or-namespace-http-does-not-exist-in-the-the-namespace-flurl

[2015-02-02 04:14] tmenier commented on #26
Pushed this change to NuGet. It was a bit more involved than I thought as there's no `Object.ToString` overload that takes a `CultureInfo`, but it will happen for any `IFormattable` or `IConvertable`. Let me know if this works for you.

[2015-02-02 04:14] #26 closed

[2015-02-03 18:50] lmcnearney commented on #23
@tmenier Thanks for looking into the issue. Is there any way to disable the exception handling on a per-request basis instead of setting it as part of the global configuration? I would still want to use the convenience methods for some requests but disable the error handling when dealing with APIs that return non-200 codes in the normal flow.

[2015-02-03 19:07] tmenier commented on #23
Just to be clear, do you care what the status code is in these cases (i.e. are you making decisions based on it), or do you just want a way to tell the convenience methods to proceed with deserializing regardless of the status code?

[2015-02-03 19:20] lmcnearney commented on #23
I care about the status code for certain requests but I would use the non-convenience methods to manually inspect the response in those cases and would like to disable the exception handling for just those requests. A good example would be making a GET or HEAD request to see if an element already exists as part of some logic. As it is now, you have to wrap everything in a try/catch block instead o

[2015-02-03 19:52] tmenier commented on #23
Completely, and I'll give it some thought. In the mean time, you might want to create a few of your own extension methods to encapsulate the try/catch logic. Or, you may still be able to leverage the global error handler - there's a lot of diagnostic info in that `call` object and if you can figure out a way to identify calls where you want to suppress exceptions, you can set `ExceptionHandled` ac

[2015-02-04 21:56] tmenier commented on #23
New error response helpers released in 0.5.0. Details:
http://stackoverflow.com/questions/27686254/flurl-http-custom-error/28332184

[2015-02-05 13:19] julianpaulozzi commented on #26
Yes works great.
I tested in geocoding api (the problem), and now I could remove the model parses and runs fine and more cleanest code.

Thank you.

[2015-02-05 13:47] tmenier opened #28 "Configure which HTTP status codes throw exceptions"
Currently any non-2XX response throws a FlurlHttpException. (The reasoning is that there's no other mechanism to capture a failed status in a convenience method like this: `url.GetJsonAsync<T>()`)

It's been suggested to allow configuring other non-exception-thrown statuses. I'm considering something along these lines:

[code]

These would be methods on FlurlClient and would of course be chainable

[2015-02-05 13:51] tmenier commented on #23
I'm considering this particular issue resolved. @lmcnearney @rshillington I think configuring which status codes don't throw is a different issue, so I moved it [here](https://github.com/tmenier/Flurl/issues/28).

[2015-02-05 13:51] #23 closed

[2015-02-05 22:55] lmcnearney commented on #28
:+1:

[2015-03-10 03:21] Myster opened #29 "Support Anchor / Hash URL parts"
Example code:
[code]
Actual output:
[code]
Expected output
[code]

[2015-03-10 13:18] tmenier commented on #29
Thanks for reporting. I will see about getting that working soon.

[2015-03-10 18:59] julianpaulozzi commented on #7
Today there is no way to cancel the http request?

[2015-03-11 14:46] tmenier commented on #7
There are a couple ways I can think of:
- You can set a timeout and handle the exception.
- You can capture the underlying HttpClient (`FlurlClient.HttpClient`) and call `CancelPendingRequests`.
- You can write your own extension methods that allow passing `CancellationToken`s as needed.

This issue is to add CancellationToken support to built-in methods like `GetJsonAsync`, etc. This didn't make

[2015-03-12 21:34] johnnymumbles commented on #7
Can I +1 this.

I have only just started playing around with Flurl but I really like it.  However, the lack of support for cancellation is an issue.  The first two workarounds suggested by @tmenier are not going to be viable options in many scenarios.  I may, just for fun, take a stab at writing my own extensions for the handful of HTTP requests I anticipate using..

[2015-03-12 21:54] julianpaulozzi commented on #7
Since the alternatives were given not had time to test them, so do not know the complexity or the effectiveness thereof.
However an extension method that receives an Action delegate that when called cancels the request would be useful.

[2015-03-16 02:35] tmenier commented on #28
Apologies for the delay. I've opted to go with just pattern (string) based approach for setting this as it allows for the most flexibility. As of Flurl.Http 0.5.1, this is configurable globally like so:

[code]

I anticipate this may lead to requests for making this configurable per call. Let me know if that's something you need.

[2015-03-16 16:12] lmcnearney commented on #28
Yes please, per-call configuration would be helpful as most of the time the built-in exception throwing is appreciated (like when using the Json extension methods). It's only in certain cases where I may be checking for the existence of an object/route where I would be manually checking the response code and need to allow it to not throw on a 404, etc.

[2015-03-16 18:03] tmenier commented on #28
Noted, I'll re-open this. I agree that it's a much more useful/complete feature if you can control it per call.

[2015-03-17 18:38] miiihi opened #30 "Support for multiple key value pairs in query string with same key"
Currently, new Url("http://abc.com/?a=1&a=2") throws an error - which it shouldn't as this is valid URL.
As for behavior in this case, there are multiple options, but I guess best would be to create an array of strings in this case...

Thanks, Mihi

[2015-03-17 20:55] tmenier commented on #28
Ok, let's try this again. You can now set patterns at the individual call/client level. Tests to demonstrate:

[code]

You can also allow anything:
[code]

If you're reusing the client and need to clear them (including the global config setting, but just for this client instance):
[code]

This is pushed to v0.5.2 on [NuGet](https://www.nuget.org/packages/Flurl.Http). Let me know your thoughts.

[2015-03-18 22:47] lmcnearney commented on #28
Thanks, those changes look good!

[2015-03-19 14:08] tmenier commented on #30
Thanks for reporting, indeed a bug. Fixed in the latest Flurl and Flurl.Http NuGet packages.

[2015-03-19 14:08] #30 closed

[2015-03-25 12:52] muhammetsahin opened #31 "system.typeloadexception"
Hi,

Im using Xamarin PCL

and tried this code:

public async Task<AccountDto> GetAccountAsync (string username, string password)
		{
			AccountDto result = null;
			using (var fc = new FlurlClient ().EnableCookies ()) {

					try {
						result =	await ApiConsumer.Url
							.AppendPathSegment ("account/token")
							.WithClient (fc)
							.PostJsonAsync (new { UserName = username, Password = p

[2015-03-25 13:04] tmenier commented on #31
Happy to help, but 2 requests:

 1. Please [post the question on Stack Overflow](http://stackoverflow.com/questions/ask?tags=flurl+http+.net+c%23) so it's easier for others to find and benefit from.

 2. Please provide as much detailed information about the exception as possible.

[2015-03-25 13:11] muhammetsahin commented on #31
OK.

Im using PCL Profile 78

Flurl version 1.0.7
Flurl.Http version 0.5.3

Thnks:)

Interesting thing is i tried same code on VS2012 console project it was work.

![image](https://cloud.githubusercontent.com/assets/2045788/6825159/0a0cbe84-d301-11e4-904c-c537efe89ff3.png)

[2015-03-25 22:35] tmenier commented on #31
While I still would have preferred you'd moved your question to Stack Overflow, I'll answer here.

I suspect the issue is related to Json.NET. Although Flurl.Http has a depnendency on it, try installing the Json.NET NuGet package into your Xamarin project. (I actually started getting the same exception in my PCL unit tests at one point, and referencing Json.NET directly from the test project fixed

[2015-03-26 09:15] muhammetsahin commented on #31
Thank you i solved:)

[2015-03-26 09:15] #31 closed

[2015-03-28 17:06] #28 closed

[2015-03-28 17:16] tmenier commented on #7
@johnnymumbles @johnnymumbles All HTTP-calling methods now have CancellationToken overloads. Sorry for the delay but as it doubled an already [long list of extension methods](https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/HttpExtensions.cs), I wanted to get some code gen bits in place first, which I did.

Following Flurl's conventions, you should handle cancellations by catching `F

[2015-03-28 17:16] #7 closed

[2015-04-01 12:38] johnnymumbles commented on #7
@tmenier You say you went back and forth, just curious what the alternative was that you were considering.

[2015-04-01 13:20] tmenier commented on #7
@johnnymumbles Throwing a `TaskCanceledException` directly was the alternative I considered. With `FlurlHttpException` you get a bunch of [diagnostic info](https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/HttpCall.cs) and still have access to the `TaskCanceledException` if you need it. So in that regard I like it and it's consistent with Flurl's exception handling in general. The dow

[2015-04-12 08:21] malinajirka opened #32 "TimeOut doesn't work with Post + ReceiveJson"
Hi,
thank you for the library.

I have come across an issue.

result = await baseUrl.WithTimeout (2).WithBasicAuth ("aaa","bbb").PostJsonAsync (project).ReceiveJson<Project> ().ConfigureAwait (false);

When the url is unavailable (server is down) the timeout won't work. It timeouts after cca 60 seconds instead of 2 seconds I set. Setting timeout works in conjunction with GetJsonAsync.

[2015-04-21 21:38] NateRickard commented on #24
Just confirming - this does seem to work and is exactly what I was looking for.  I suggest you add this example to your docs under /extensibility.

[2015-04-21 21:57] julianpaulozzi opened #33 "Fusillade support?"
There a way to use the [Fusillade](https://github.com/paulcbetts/Fusillade) RateLimitedHttpMessageHandler?
For something similar as described here: [Resilient network services](http://arteksoftware.com/resilient-network-services-with-xamarin/).

[2015-04-21 22:49] tmenier commented on #33
Sure is, but I see my docs are a little out of date.

Have a look at the bottom of [this page](http://tmenier.github.io/Flurl/extensibility) under "Providing a custom HttpClient factory". That is the basic approach, but what it fails to mention is that the factory also exposes a `CreateMessageHandler` method that you can override. That would be your hook to provide `RateLimitedHttpMessageHandler`

[2015-04-21 23:22] julianpaulozzi commented on #33
This can work however did not see how to change the priority by passing parameter.
It would be something like this:

    public class ModernHttpClientFactory : DefaultHttpClientFactory
    {
        public override HttpMessageHandler CreateMessageHandler()
        {
            return new ModernHttpClient.NativeMessageHandler();
        }

        public override HttpClient CreateClient(Url url, H

[2015-04-22 13:09] tmenier commented on #24
Great. Yeah I was just reminded in another issue that CreateMessageHandler needs to be documented.

Nice to see Flurl getting some traction with Xamarin users, would love to figure out how to get the word out more broadly.

[2015-04-23 19:24] tmenier commented on #33
Sorry for the delay. Good question.

For starters, I don't think you need to override `CreateClient` at all. I'd lean toward this for your factory:

[code]

But that's more of a side note. Your real question is how to pass an argument into `CreateMessageHandler` and there really isn't a clean way to do that. I'm envisioning you might want to add a `WithPriority(x)` extension method on `FlurlClient

[2015-04-23 21:01] tmenier commented on #32
Sorry for the delay. Not sure why that would be. `WithTimeout` does nothing more than set the timeout on the underlying `HttpClient`, so I doubt this is an issue with Flurl. If you remove `ReceiveJson()` and just get the raw `HttpResponseMessage` from the post does that work?

[2015-04-23 21:08] julianpaulozzi commented on #33
I was actually thinking also one parameters bag with key value. I believe (believe) that using a Lazy <Dictionary <string, object >> I will not have a multithreaded problems.
However use the "URL as Key" to retrieve the value would be weird.

I was thinking is something that returns a token of the request by ref, some extension like "GetToken(out token)" and this token available in "CreateMessageH

[2015-04-23 22:02] julianpaulozzi commented on #33
Thinking a little I do not know the factory call cycle. It may not be possible to add these contextual information.
More can be no other solution that would be introduce something like a "Keyed Factory" beyond the default factory in configuration.

So it would be possible to maintain (not sure if that is so) the instance created by the factory. And in case of nonstandard call use something like "W

[2015-04-24 13:26] tmenier commented on #33
FlurlClient is the only thing that that calls those factory methods, and it usually gets created/disposed on the fly for each call (unless the code is explicitly reusing it), so some sort of data bag on FlurlClient would probably work well. On the other hand, methods like `WithHttpClient` and `WithMessageHandler` that let you override the factory methods per call would work too.

I'll think on it.

[2015-04-24 16:07] julianpaulozzi commented on #33
I believe that the two approaches can be useful to someone at some point.
What would be better and would open more flexibility for use in other cases not only mine?

[2015-06-05 07:38] pedershk commented on #27
Have you had any progress on this? Still unable to make Flurl work in a PCL that targets Xamarin.Android and Xamarin.IOS.

Flurl.Http is added normally, no errors visible, and Flurl.Http is added via using statement.

However, when compiled, "The type or namespace 'Httpd' does not exist...' message is shown during compilation, and it stops.

[2015-06-05 12:30] tmenier commented on #27
I have not. Do you need SL5 support? If not, have you read through the referenced Stack Overflow question?

[2015-06-10 21:28] NateRickard opened #34 "KeyNotFoundException when using DownloadFileAsync"
When using the DownloadFileAsync extension method over a bunch of image urls, I receive a few System.Collections.Generic.KeyNotFoundException exceptions.  My assumption is the urls are invalid or have no valid file (since I only get 2-3 of these over a large set of urls), but the errors received here are odd and seem out of place - I would expect a http code or file not found, etc.

[code]

[2015-06-11 02:56] tmenier commented on #34
Thanks for reporting, the stack trace was helpful. Not even sure how to repro but it clearly just needed a key check on a dictionary used to keep track of some things internally. I'll publish a NuGet update shortly.

[2015-06-11 02:58] NateRickard commented on #34
Awesome, thanks for the quick turnaround.

[2015-06-11 03:06] tmenier commented on #34
You bet. Here ya go: https://www.nuget.org/packages/Flurl.Http

[2015-06-11 03:06] #34 closed

[2015-06-17 15:20] armintelker opened #35 "PostUrlEncodedAsync(object) don't work with PCL but in Console Mono"
Hey Todd,

When I execute a `PostUrlEncodedAsync(object)` on PCL Xamarin project
[code]
I got a empty call.RequestBody.
[code]

I figured out that [`data.ToKeyValuePairs()`](https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/Content/CapturedUrlEncodedContent.cs#L27) returns an empty `IEnumerable` and that probably [`obj.GetType().GetProperties()`](https://github.com/tmenier/Flurl/blob/

[2015-06-24 15:08] AbraamNader opened #37 "AppendPathSegment trims the trailing slash"
AppendPathSegment trims the trailing slash when calling API's like this:
[code]
Notice the slash after "endpoint", without that slash "/" the API call would fail or improperly redirect (301)

And for now as you suggested, I made an extension method, so it wouldn't break the fluent syntax.
It's different than what you suggested but this gives more control, since this is a special case, most APIs do

[2015-06-25 17:06] carolynvs opened #39 "Strong Name Assemblies"
First, I love Flurl, it's awesome and I am excited to use it. Great job! :smile:

I thought I'd throw in my vote to strong name the Flurl assemblies, if it's not a huge headache. Currently, I believe my only workaround is to use [StrongNameSigner](https://github.com/brutaldev/StrongNameSigner) to sign Flurl assemblies (or build and sign myself) and then ship the signed assemblies with openstack.ne

[2015-06-25 20:13] tmenier commented on #37
I'm of the opinion (and I hope this works for you) that the best solution is for Flurl to simply not trim the trailing slash when it's explicitly provided. So you can call `url.AppendPathSegment("endpoint/")` and it'll be left alone.

The new package with this update is up on [NuGet](https://www.nuget.org/packages/Flurl/).

[2015-06-26 14:00] tmenier commented on #39
Thanks for the suggestion. It's been requested before and I've weighed the pros and cons and decided against strong naming. Seeing the [headaches](http://jeremydmiller.com/2014/04/28/fubumvc-lessons-learned-strong-naming-woes-and-workarounds) that others have encountered while going down that path has convinced me that's it's not where I want to go and not in the best interest of the majority of F

[2015-06-26 14:06] #37 closed

[2015-06-26 14:16] carolynvs commented on #39
Thanks for the quick reply. At the moment I'm hosting a package with strongly named assemblies under a MyGet feed, e.g. if you just released 1.0.7, I would push a signed package with the same id and a version of 1.0.7-signed to MyGet.

Sounds like you would be okay with having this package on NuGet.org, maybe Flurl.Signed and Flurl.Http.Signed? The version numbers would then 100% match, just the i

[2015-06-26 14:27] tmenier commented on #39
That would be a thing of beauty if you want to do it. I'll be happy to tweet it out, mention it on the web site, etc, etc. Thanks!

[2015-06-26 14:28] carolynvs commented on #39
I'm on it! :smiley:

[2015-06-26 20:37] carolynvs commented on #39
The signed packages are now available!

https://github.com/carolynvs/Flurl.Signed

[Flurl.Signed](https://www.nuget.org/packages/Flurl.Signed)
[Flulr.Http.Signed](https://www.nuget.org/packages/Flurl.Http.Signed)

FYI, I made a goof the first time I published to NuGet and since they don't allow editing a package, I had to dork up the version number to get the fix in. The next time you publish a ve

[2015-06-28 16:48] tmenier commented on #39
Awesome! I'm adding links those links to site. I'd also like to link to you personally for attribution. Do you prefer I link to your Twitter handle? GitHub profile? NuGet profile? Other? (None of the above?)

[2015-06-28 19:11] carolynvs commented on #39
My github profile is just fine, thanks!

[2015-07-06 21:57] Myster opened #41 "+ in queryString not decoded correctly"
`+` should be decoded to space, and encoded to either `+` or `%20` but preferably `+` to keep the original encoding.
Here is what it does:

    "?q=foo+bar".SetQueryParam("page",2).ToString()
    "?q=foo%2Bbar&page=2"

Here is what it should do:

    "?q=foo+bar".SetQueryParam("page",2).ToString()
    "?q=foo+bar&page=2"

[2015-07-09 12:41] fvermeulen opened #42 "GetAsync() text get cut off"
Hello @tmenier
I have a problem by using the flurl httpclient. It won't download the complete data.

Compare the two strings. `testResponse` has 57697 letters and `flurlResponse`has 32397 letters.

Can you help me with that problem?

[2015-07-09 14:21] fvermeulen commented on #42
When i comment these lines out, everything works correctly
https://github.com/tmenier/Flurl/blob/98b32d257bef5ed4098e652a33cfddd41b6d743c/Flurl.Http.Shared/Configuration/FlurlMessageHandler.cs#L58-59

But don't know what is happening in this method

[2015-07-10 03:10] tmenier commented on #41
Great catch. It turns out that the method I used to decode the URL has a glitch specific to the + character, and has been blogged about by [Rick Strahl](http://weblog.west-wind.com/posts/2009/Feb/05/Html-and-Uri-String-Encoding-without-SystemWeb) and [others](http://blogs.msdn.com/b/yangxind/archive/2006/11/09/don-t-use-net-system-uri-unescapedatastring-in-url-decoding.aspx). I will provide an upd

[2015-07-10 21:07] sibbl opened #43 "Missing method "System.Net.Http.HttpRequestMessage.get_RequestUri()" on Windows 10"
When using the library in a Universal Windows Project, I always get the MissingMethodException `System.Net.Http.HttpRequestMessage.get_RequestUri()` when calling `"http://foo.bar/test.txt".GetStringAsync()`.

Is Windows 10 support planned for the library or am I doing something else wrong?

[2015-07-19 19:38] tmenier commented on #41
This is fixed almost to your liking.

1. When parsing a query string, Flurl now interprets + as a space.

2. When encoding a query string, Flurl by default encodes spaces as %20, but `Url.ToString` now optionally take an `encodeSpaceAsPlus` argument so you can control it.

The only thing you don't get here is preserving the original intent, i.e. if it goes in as a + it should come out as a +. Flur

[2015-07-19 19:38] #41 closed

[2015-07-19 19:59] tmenier commented on #42
I tested this and the responses were identical for me except for a couple time-related javascript variables at the bottom, which would make sense. Search your code for `FlurlHttp.Configure` to see if any global callbacks are registered, such as `AfterCall`, which could be used to manipulate the response. See [here](http://tmenier.github.io/Flurl/configuration/) for details.

As a side-note, the la

[2015-07-21 01:43] Myster commented on #41
Sounds good :-)

[2015-07-23 12:53] tmenier commented on #42
Closing this issue as I do not believe there is a bug here.

[2015-07-23 12:53] #42 closed

[2015-07-23 13:20] tmenier commented on #35
Interesting. I'm seeing several reports that Xamarin is unable to reflect on anonymous types due to how the iOS linker works. Not much I can do about that I'm afraid, but I think the work-around is to create a class with username/password public properties and use `PostUrlEncodedAsync(object)` with that instead of an anonymous object. You might also need to use the `Preserve` attribute on the type

[2015-07-23 13:28] tmenier opened #44 "Convert underscores to hyphens in WithHeaders(object)"
Hyphens are [very common in request header names](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#Request_fields) but not allowed in C# identifiers. Underscores, just the opposite. Allow `WithHeaders(object)` to work with hyphenated header names by converting underscores to hyphens. For example:

`url.WithHeaders(new { User_Agent = "Flurl", Cache_Control = "no-cache" })`

Avoid this behav

[2015-07-24 12:50] fex80 opened #45 "Failing installation of Flurl.Http on any non-PCL Xamarin.iOS project"
#### Problem
When I try to add Flurl.Http to any Xamarin.iOS project using NuGet on Visual Studio and Xamarin Studio, the installation fails with the message `Unable to resolve dependency 'Microsoft.Bcl.Build (≥ 1.0.14)'.`

When I install it on a PCL project, it works, however.

#### Expected Behavior
I'd like the installation to work for non-PCL Xamarin.iOS project, too.

#### Proposed Solution
I

[2015-07-26 16:48] tmenier commented on #45
Thanks for the fix!

[2015-07-26 16:48] #45 closed

[2015-07-26 16:50] tmenier commented on #35
Feel free to re-open if the work-around doesn't work and/or you know of a different solution.

[2015-07-26 16:50] #35 closed

[2015-07-26 17:33] tmenier commented on #43
I don't have Windows 10 (yet) so I don't know how much help I can be. Can you post a full stack trace? If you are able to figure this out I'd gladly accept a pull request.

[2015-07-28 22:22] carolynvs opened #47 "HttpTest Overwrites Existing AfterCall Handler"
It would be nice if HttpTest did not overwrite the existing AfterCall handler. Perhaps it could check if an existing handler is in place, and call it as well?

[code]

If you agree, I am happy to submit a pull request with tests.

[2015-08-03 09:53] gmobydick opened #48 "Requested functionality: Multipartform"
Adding a request for MultiPartform as you suggested in your reply to my question on the documentation pages.

[2015-08-11 20:06] carolynvs opened #49 "Support non-global json.net serialization settings"
For libraries using Flurl, it would be very helpful to use Flurl with custom json.net serialization settings without clobbering the global json.net serialization settings (see [OpenStack.NET #551](https://github.com/openstacknetsdk/openstack.net/issues/551)). I believe this could be supported in Flurl through something like this:

[code]

Then JsonHelper and CapturedJsonContent, would to specify t

[2015-08-13 12:32] tmenier commented on #49
Thanks for the well thought out suggestion. I understand the problem and I gave is some thought. The crux of the issue as you put it is to not clobber the global Json.NET settings, but with this solution aren't you just shifting that clobbering to Flurl? If this user were using 2 libraries that use Flurl (unlikely I know!) and you changed Flurl's config settings like in your example, you would be

[2015-08-13 13:21] carolynvs commented on #49
Doh! Yes, that's a very good point that it just kicks the can down the road. If *JsonAsync had an optional parameter for the serializer settings then each library (and the application) could use Json.NET and Flurl without stepping on each others toes.

[2015-08-13 13:53] tmenier commented on #49
Agreed! I'll work this in soon.

[2015-08-13 16:02] carolynvs commented on #49
Awesome, thank you! Let me know if there's anything I can do to help.

[2015-08-18 01:49] tmenier commented on #45
Don't know where my head was when I finished this but apparently I never pushed/published it. It's ready now:

https://www.nuget.org/packages/Flurl.Http/0.6.4

[2015-08-18 03:04] tmenier commented on #49
I won't lie to you, this got ugly fast. I'll do some more thinking on it, but I'm now thinking creating all these overloads isn't the way to go either. I haven't taken a close look at your library, but would it be feasible to use Flurl to get as far as getting a stream or string, then doing your own deserialization?

I did a little bit of refactoring in my last commit. JsonHelper is gone and repla

[2015-08-18 15:11] carolynvs commented on #49
Doh! Thanks, I'll take a look and get back to you.

[2015-08-18 15:16] tmenier commented on #49
I've already started thinking through some ideas on scoping all global config settings to just your library assembly, then doing something a lot closer to your original suggestion. Should mean far less refactoring for your library. Stay tuned!

[2015-08-20 14:31] mayamoon opened #50 "bug when using Task.Wait()"
it not work when using task.Wait()
 var task =   "http://www.baidu.com"
                .GetStringAsync();
            task.Wait();

[2015-08-20 18:39] tmenier commented on #50
Is it throwing an exception? Please provide the details.

[2015-08-26 11:24] stefandevo opened #51 "PCLStorage dependency"
Would it be an idea to opt-out for downloading files feature and thereby not needing the PCLStorage dependency?

[2015-08-26 11:28] stefandevo opened #52 "CodeGen"
Could you explain what the CodeGen exactly is doing? Thx

[2015-08-26 18:31] tmenier commented on #50
Closing for lack of any useful details.

[2015-08-26 18:31] #50 closed

[2015-08-26 18:39] tmenier commented on #52
It's a small console app that generates [this file](https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/HttpExtensions.cs) on pre-build of Flurl.Http.

[2015-08-26 18:41] stefandevo commented on #52
Ok thx, but this is not something that is executed every time you use Flurl.Http in an application?

[2015-08-26 21:26] tmenier commented on #52
Absolutely not. It's not even compiled into the DLLs that get packaged for NuGet. It's a completely independent app that runs as part of the build process because the number of extension methods got big and I'm too lazy to maintain them manually. :)

[2015-08-26 21:39] stefandevo commented on #52
:-) Ok that's what I thought (hoped). Thanks

[2015-08-26 21:39] #52 closed

[2015-09-03 11:50] gmobydick commented on #48
Closed by mistake

[2015-09-08 15:19] hut8 opened #53 "Flurl.Url vs. System.Uri awkwardness"
Thanks for Flurl! I'm using it in a project and it really cuts down on the code required to do HTTP stuff.

My project uses a bunch of `System.Uri` objects. Is there a reason why `Flurl.Url` doesn't have a constructor taking a `System.Uri` (or at least `static implicit operator Url(System.Uri uri)`), or that the `Flurl.Url` functionality even exists outside of extension methods? I have this a lot

[2015-09-08 21:55] josephnarai opened #54 "Cookies broken with ModernHttpClient"
I've implemented a customisation to use ModernHttpClient as per https://github.com/tmenier/Flu...

However, we find that no Cookies are never retained ( the call to GetCookies() always returns an empty object ).

Is this a known issue? Can we get cookies to work somehow with ModernHttpClient?

Thanks

Joe

[2015-09-09 02:40] tmenier commented on #53
I assume you're re-using a `FlurlClient` instance and it's the `new Url(URL.ToString())` bit that you don't like? `WithUrl` does take a string so you could at least shorten it to:

`var html = await _client.WithUrl(URL.ToString()).GetStringAsync();`

You could further shorten it by writing a `WithUri` extension method on `FlurlClient` to get rid of the `ToString()` bit.

I've thought about incorpo

[2015-09-09 03:23] tmenier commented on #49
Thanks for your patience. After re-thinking it (several times!) I think I've finally arrived at a good solution. Here's a quick run-down:

- There's a simple new interface - `ISerializer` - that serves as a contract for serializing/deserializing objects to/from strings.
- `FlurlHttpSettings` (the thing you configure when you call `FlurlHttp.Configure`) now has a `JsonSerializer` and `UrlEncodedSer

[2015-09-09 05:35] josephnarai commented on #54
Found the issue. ModernHttpClient does not support normal cookies, you have to make sure you do NOT enable Cookies and then read and write them from the headers.

https://github.com/paulcbetts/...
https://github.com/paulcbetts/...

So it's not a Flurl issue at all, but might be worth adding as a note somewhere to help other people wanting it use ModernHttpClient!

[2015-09-09 05:35] #54 closed

[2015-09-15 13:25] hut8 commented on #53
@tmenier Thanks for your quick reply. Yes, I'm re-using the `FlurlClient` instance. `URL.ToString()` with the implicit conversion to `Flurl.Url` is a bit better. What do you think about me just adding an implicit conversion from `System.Uri` to `Flurl.Url` simply by calling `System.Uri.ToString()`? That way my code wouldn't be littered with `systemUriInstance.ToString()` everywhere.

[2015-09-18 09:06] cordechasse opened #55 "Download and upload progress"
Hi,

Is there a way to get upload and download progress?
I can't find anything about that in the doc.

[2015-09-18 13:43] tmenier commented on #55
Nothing that's baked into the library. The HTTP stuff is basically a thin wrapper around [HttpClient](https://msdn.microsoft.com/en-us/library/system.net.http.httpclient.aspx), and there's some decent info on how to implement progress indicators with that:

http://stackoverflow.com/questions/20661652/progress-bar-with-httpclient
http://stackoverflow.com/questions/21169573/how-to-implement-progress

[2015-09-18 13:43] #55 closed

[2015-09-18 14:00] tmenier commented on #53
I'd consider accepting that, yes. I do have a few other things I'm currently working on, so if you don't want to have to wait for me to get it packaged and released, it would sure be simple for you to tackle the problem with an extension method like this:

    public static FlurlClient WithUri(this FlurlClient client, System.Uri uri) {
        return client.WithUrl(uri.ToString());
    }

[2015-09-20 18:37] tmenier commented on #49
Changes above are released in Flurl.Http 0.7.0. Breaking changes noted here:

https://github.com/tmenier/Flurl/wiki/Release-Notes

[2015-09-20 18:37] #49 closed

[2015-09-28 15:24] carolynvs commented on #49
Apologies for dropping off the face of the earth for a bit...

I just grabbed 0.7 and keeping a copy of the settings with the client works great. That, plus the serializer changes, gives me full control without ruining json.net or flurl for anyone else.

Thank you for hammering out a design that works so well, it is *really* appreciated! :+1: :smile:

[2015-10-26 05:56] ivanovevgeny opened #56 "Encode % to %25 in query param"
I have an Uri with percent in query params:
<pre>
http://www.remix-shop.ru/catalog/?set_filter=Y&SEASON=%CD%EE%E2%FB%E9%20%E3%EE%E4
</pre>
Next i create new Url

<pre><code>
var url = new Url(initialUri.OriginalString);
</code></pre>
and now my url is

<pre>
http://www.remix-shop.ru/catalog/?set_filter=Y&SEASON=%25CD%25EE%25E2%25FB%25E9%20%25E3%25EE%25E4
</pre>
As you can see, we have additional %

[2015-11-09 01:06] digitalgym opened #58 "Headers"
Am I missing something? Flurl does not send headers or token in requests.

[code]

[2015-11-09 04:07] tmenier commented on #58
The Url object itself is not holding those headers. `Url.WithOAuthBearerToken` is shorthand for `new FlurlClient(url).WithOAuthBearerToken`, so you need to capture that object and use it to make your call. `Url.GetJsonAsync` is shorthand for `new FlurlClient(url).GetJsonAsync`, so you're essentially creating a second client object that has no notion of the headers you set on the first client.

Thi

[2015-11-13 21:25] #58 closed

[2015-11-29 04:34] #32 closed

[2016-01-06 12:13] aprooks opened #59 "Configurable .configureAwait for async calls"
In some environments, like Orleans and, maybe Service Fabric we cannot use `.configureAwait(false)` due to task scheduler limitations http://dotnet.github.io/orleans/Advanced-Concepts/External-Tasks-and-Grains.

This means FLurl cannot be used in Orleans, because there are `.configureAwait(false)` all over the code base

[2016-01-06 13:00] andre-realroi commented on #59
+1

[2016-01-06 14:08] dvs39 commented on #59
+1

[2016-01-07 09:12] aprooks commented on #59
Orleans team confirmed it is totally fine to use `.ConfigureAwait(false)` in a library code, so I'm closing the issue

[2016-01-07 09:12] #59 closed

[2016-01-07 15:23] tmenier commented on #59
I'm actually breathing a small sigh of relief because I wasn't sure what to do about this. Using `ConfigureAwait(false)` everywhere was very intentional as it is widely regarded as a best practice in libraries. I didn't want to alienate Orleans devs but making ConfigureAwait configurable just felt ugly. Glad the answer sort of presented itself. :)

[2016-01-13 11:10] hendrik-rebuy commented on #25
Thanks for the fast reply the patch already helped us a lot.

[2016-01-13 11:10] #25 closed

[2016-02-18 18:59] thiagolunardi opened #60 "Make AppendPathSegments receive object"
AppendPathSegment(this string url, params object[] segments)

Then we may pass string, int, decimal, etc... with implicity ToString() convert.

[2016-02-19 17:55] ritcoder opened #61 "Support for .NET Core"
Are there any plans to support .net core? I'm using Flurl.Http with ASP.NET 5 and it says Flurl does not support DnxCore5.0

[2016-02-23 15:07] tmenier commented on #61
Consider it on the radar but no timeframe at this point. If you want to fix this yourself and submit a PR I would gladly accept it.

[2016-02-24 12:42] thiagolunardi opened #62 "Extends from System.URI, instead of System.String"
It is really awesome what Flurl component can do.
But, to me, extend from System.String is out of context.

I understand that, when you extend from an object, this extension still been the same context of the extended object.

With that in mind, I usually do request agains URI routes, instead of whatever text string.

If you OK, I can do a pull request with this behavior.
Will be my pleasure do co

[2016-03-08 01:39] tmenier commented on #62
Are you suggesting creating extension methods off System.Uri instead of System.String? Or in addition to those?

[2016-03-08 12:18] thiagolunardi commented on #62
Yes, exactly.

[2016-03-08 12:30] tmenier commented on #62
Please feel free to add your own extension methods to support this, but I won't add a breaking change of this magnitude to the core. Starting with a string minimizes noise and that's the main goal of the library. Thanks for the suggestion.

[2016-03-08 12:30] #62 closed

[2016-03-09 22:35] eByte23 commented on #61
@tmenier I have done this for you, I'll submit a pr later today.

[2016-03-10 03:03] tmenier commented on #61
awesome, thanks!

[2016-03-10 03:15] eByte23 commented on #61
Enables initial support but I duplicated code so not to disturb portable, pcl library.
These could all almost be merge into one project or very few, but the circular dependencies most be removed.

[2016-03-31 09:45] Toine-db opened #66 "When you want to keep HTTPClient alive FlurlClient keeps disposing him"
When creating a custom HttpClientFactory that manages a HttpClient the FlurlClient instances keep disposing the used HTTPClient when collected by the GC.

I already made a solution for it, virtual dispose
https://github.com/tmenier/Flurl/pull/65

[2016-04-01 00:01] kroniak opened #67 "Allow HttpTest to work correctly when different tests are running in parallel"
The case:

In one test class I use some code like:

[code]

and in the other test class:

[code]

I have many tests and when I run them all together real test sometimes uses HttpTest responces and throw exceptions.

It's bug or I does not understand something?

[2016-04-01 14:46] tmenier commented on #66
I'd like to understand your use case a little better. Keeping the lifespan of HttpClient bound to that of the FlurlClient was and intentional design decision; I think it makes it more clear and intuitive to the user. See [here](http://tmenier.github.io/Flurl/client-lifetime/) for details on patterns for re-using FlurlClient, thus re-using the underlying HttpClient, and let me know if this suits yo

[2016-04-01 14:50] tmenier commented on #67
There's a notable limitation in how HttpTest works: it puts Flurl in test mode globally so it is not thread-safe. The result if is that if you try to run tests in parallel, you could definitely run into issues. Are you running tests in parallel?

[2016-04-01 15:15] kroniak commented on #67
Yes, in parallel. How to get around this? There are a way?

[2016-04-01 16:01] tmenier commented on #67
There is no workaroud currently. I will keep this issue open and explore some possibilities when I have some time.

[2016-04-03 20:04] kroniak commented on #67
Do you think about
[ThreadStatic] attribute on settings static field on http class or threadlocal<t> class for settings? It also applies lazy interface.

[2016-04-05 16:03] andresmoschini opened #68 "Add support for URI Template (rfc6570)"
Since it is not so easy (and [sometimes impossible](http://blog.ploeh.dk/2013/04/29/rest-lesson-learned-avoid-user-supplied-data-in-uri-segments/)?) to encode an arbitrary string as URI segment, I think that it could be really useful to add support for replace segments like `api/{controller}/{id}`, and better yet add support for full [URI Template specification (rfc6570)](https://tools.ietf.org/ht

[2016-04-05 20:09] tmenier commented on #68
Flurl encodes URI segments just like your test, it just takes a different approach:

[code]

Did I misunderstand your point?

[2016-04-05 20:24] andresmoschini commented on #68
Well, it is fine for this specific situation, but consider an scenario a little more complex:

[code]

[2016-04-06 02:09] tmenier commented on #68
Well, in fairness, there's no need for the extra variables. Personally I'd just do this:
[code]

If you prefer URI Templates, there's a great .NET implementation [here](https://github.com/tavis-software/Tavis.UriTemplates). It certainly has its merits, it's just matter of personal preference. I'm not going to change Flurl's builder API or provide an alternative one in the same library though.

[2016-04-06 02:09] #68 closed

[2016-04-06 02:17] andresmoschini commented on #68
Thanks! and the alternative looks nice.

[2016-04-06 18:37] tmenier commented on #68
What's more, it looks like `.Resolve()` from that URI Templates library I referenced returns a string, so you could even mix & match it with Flurl HTTP calls if you wanted:
[code]

[2016-04-06 18:55] andresmoschini commented on #68
Yep :) I am doing that.

[2016-04-08 19:26] #61 closed

[2016-04-11 05:40] Toine-db commented on #66
I'm working on a multithreaded application, where I want to reuse the HttpClient for things like cookies.
The HttpClients SendAsync method is thread save, but I'm not sure FlurlHttp client is when bluiding the URL.

Different FlurlClients will 	guarantee thread issues, I think.
But then the HttpClient gets disposed again and again.

My solution would be an easy fix, but only needed when FlurlClien

[2016-04-11 11:27] kroniak opened #71 "Targeting sl50 wrong"
@tmenier
I have found bug in package Flurl.Http. It is not referencing with last net core versions.

You are targeting

[code]
But Newtonsoft.Json "6.0.3" does not support sl50.
Any lib whom targets Flurl.Http cannot resolve this target, only portable without sl50 works.

[2016-04-11 11:33] kroniak commented on #71
There are way to avoid it, it is targeting sl50 separate

[code]
But it is a wrong way.

[2016-04-11 13:21] tmenier commented on #71
I'm comfortable with dropping sl5 support altogether. It's caused [issues](http://stackoverflow.com/questions/28181357/the-type-or-namespace-http-does-not-exist-in-the-the-namespace-flurl) in the past, and my response was to simply remove it from the [list of officially supported targets](http://tmenier.github.io/Flurl/installation/) (which I should update again for .NET Core by the way).

Just cu

[2016-04-11 13:23] tmenier commented on #71
Related: #27

[2016-04-11 13:51] kroniak commented on #71
It works, but it is "dog-nail". We call this case that in RU.
In theory package must be included and works in other libraries without changing targets.

Decision about remove target sl50 from PCL is fully on your side.

[2016-04-13 13:34] tmenier commented on #66
I see. FlurlClient does hold a reference to a URL, so you're right, you can't safely call different URLs on different threads using the same FlurlClient instance. I'll give some thought to a better solution to that, but in the mean time I will pull your change. Look for a Flurl.Http 0.8.1 soon.

[2016-04-13 15:00] Toine-db commented on #66
OK, good luck with searching for a better solution.

THanks for looking at the request, and thanks for Flurl solution itself.

[2016-04-17 20:24] tmenier commented on #66
Ok, I believe I have a solution that solves this issue in a different way. Before I package it for NuGet, let me know if you think this will work.

The `WithUrl` method, which previously simply allowed you to set `FlurlClient.Url` fluently, now does a little more. It creates and returns a new `FlurlClient` with the Url set to whatever you passed, but with a shared instance of `HttpClient` and `Htt

[2016-04-17 20:31] tmenier commented on #66
These 2 new tests demonstrate the new functionality:
https://github.com/tmenier/Flurl/blob/master/Test/Flurl.Test.Shared/Http/ClientConfigTests.cs#L130-L159

[2016-04-19 17:13] nbcarey opened #74 "Flurl v1.1.1/Flurl.Http v0.8.0 Broken on .Net v4.6.1"
I'm starting a new project for which we're going to be using Visual Studio 2015 and targeting version 4.6.1 of the .Net Framework. It appears that Flurl has released a new version to Nuget (Flurl v1.1.1/Flurl.Http v0.8.0) that supports the DotNet Core bits. Unfortunately, the new version would seem to be broken with respect to .Net v4.6.1. A simple program like this:

    using Flurl;
    using Fl

[2016-04-19 18:03] tmenier commented on #74
Thanks! I'll give this one high priority.

[2016-04-20 12:05] tmenier commented on #74
A contributor was kind enough to fix. Didn't mean to close the issue. I'll so some verifying, release to NuGet, and let you verify before closing.

[2016-04-21 15:45] tmenier commented on #66
Flurl.Http 0.9.0-pre is [released](https://www.nuget.org/packages/Flurl.Http/0.9.0-pre). I will probably need to put this into full release soon because others are waiting on a bug fix affecting .NET 4.6.1, so if you have feedback please get back to me as soon as you can.

[2016-04-21 15:53] tmenier commented on #74
This is in pre-release. I don't anticipate any problems and will probably strip the "-pre" later today. https://www.nuget.org/packages/Flurl.Http/0.9.0-pre

[2016-04-21 22:56] tmenier commented on #74
Full release is...uh...released

[2016-04-21 22:56] #74 closed

[2016-04-21 22:56] tmenier commented on #66
Flurl 0.9.0 is released.

[2016-04-21 22:56] #66 closed

[2016-04-21 23:03] nbcarey commented on #74
Thanks! Just for the record, I love Flurl. So much easier than writing the same boilerplate code over and over and over again.

[2016-04-23 06:51] Toine-db commented on #66
Good solution, this should work!

[2016-05-10 15:47] DamianReeves opened #78 "Allow for customizable parameter ordering"
Some APIs (for example certain Amazon APIs) require signing and lexical parameter ordering.
Right now I am handling this by sorting my parameters before signing them, but it would be convenient if we could change the order to not use insertion order only.

Until then this has been my solution:

[code]

[2016-05-10 21:35] tmenier commented on #78
What you came up looks like it would work pretty slick. What would you suggest as an alternative, specifically?

[2016-05-10 23:15] IDontEatSoap opened #79 "Can't use Flurl for Xamarin"
The System.Reflection.TypeExtensions package doesn't have a valid Xamarin IOS or Xamarin Droid assembly in it's nuget feed, despite saying it support those platforms.

As a result, Flur doesn't work with Xamarin.

[2016-05-11 01:41] DamianReeves commented on #78
If I add any parameters after this they will be added in insertion order requiring me to sort again. It would be great if QueryParamCollection allowed for passing along an IComparer... if that IComparer is null use defaults, otherwise use the comparer for enumerating.

[2016-05-11 01:47] IDontEatSoap commented on #79
Downgrading to Flur 1.0.10 and Flur.Http 0.70 is a potential workaround - those versions work with Xamarin

[2016-05-11 12:34] tmenier commented on #79
Hmm. What platform(s) are you targeting? Have you tried pulling in the System.Reflection.TypeExtensions NuGet package directly into your project? @kroniak Any thoughts here?

[2016-05-11 13:59] kroniak commented on #79
It will be fixed by moving to the ASPNET CORE RC2 and targeting other target like netcoreapp. Now it's netstandard 1.4 which includes Xamarin.
When RC2 will be released I will make some PR.

@tmenier  Assignee this to me.

[2016-05-12 00:34] tmenier commented on #79
@kroniak Thanks, and welcome aboard. :)

[2016-05-12 03:07] tmenier commented on #71
Just curious, how do you know that Json.NET does not support sl50? I'm almost ready to say that SL 5 and Windows Phone SL 8.1 are out, but I'd hate to alienate anyone who might be targeting those. Would simply upgrading Json.NET to a newer versions help? Again, I'm not sure how to determine that.

[2016-05-12 03:12] tmenier opened #80 "Drop support for Silverlight 5 and Windows Phone Silverlight 8.1?"
This issue is actually to solicit feedback. I am _considering_ dropping support for these platforms in both Flurl and Flurl.Http due to few issues that have come up, and due to a hunch that people don't need it anyway. If you need to target these platforms please chime in, I could be persuaded.

[2016-05-12 03:27] tmenier commented on #80
#27 #71

[2016-05-13 12:16] tmenier commented on #43
I believe the latest version supports Windows 10 apps. Can you confirm? cc @kroniac

[2016-05-13 20:49] tmenier commented on #78
QueryParamCollection will now inherit from List<T>, meaning you can can call `Sort(IComparer)` on it as desired. Here's a test demonstrating:

https://github.com/tmenier/Flurl/commit/647f2f0a3072f97bdf3b81491f7f4b03d00860c2

Flurl 2.0 will be released soon!

[2016-05-13 20:52] tmenier commented on #71
I announced on Twitter that I'll be dropping SL support altogether and haven't heard a word, so that'll be happening soon. I did some major re-writing of pieces of the core URL parser and there are a few breaking changes, so I'll be up'ing the major version of Flurl to 2.0.

[2016-05-13 20:54] tmenier commented on #60
Works for me. Look for it soon in Flurl 2.0.

[2016-05-13 21:06] tmenier commented on #56
This will be fixed for Flurl 2.0, to be released soon.
https://github.com/tmenier/Flurl/blob/master/Test/Flurl.Test.Shared/UrlBuilderTests.cs#L298-L304

[2016-05-13 21:23] tmenier commented on #53
This is done and will be released soon with Flurl 2.0. https://github.com/tmenier/Flurl/commit/fae2680707f80b01765f0e8c9cbccd2623a201ab

[2016-05-13 21:24] tmenier commented on #27
Silverlight support will be dropped for Flurl 2.0, which should fix this issue.

[2016-05-13 21:52] tmenier commented on #29
Fixed for Flurl 2.0, which will be released soon. Flurl.Url will include a Fragment property.

[2016-05-13 21:55] tmenier commented on #29
Test: https://github.com/tmenier/Flurl/blob/master/Test/Flurl.Test.Shared/UrlBuilderTests.cs#L306-L314

[2016-05-15 14:29] #27 closed

[2016-05-15 14:29] #29 closed

[2016-05-15 14:29] #53 closed

[2016-05-15 14:29] #56 closed

[2016-05-15 14:29] #60 closed

[2016-05-15 14:29] #71 closed

[2016-05-15 14:29] #78 closed

[2016-05-15 14:29] #80 closed

[2016-05-16 08:07] kroniak commented on #71
@tmenier I am wrong about sl5 dependency JSON net. It contains SL5 in portable version with net40. And there are no way to target dnx and sl5 together with net45.

[2016-05-16 08:13] kroniak opened #81 "Milestones and releases"
@tmenier  What do you think about creating milestones for Flurl and Http and correct tag releases versions? I see you dont do this.

I suffer to create milestone 2.1 for Flurl and with core RC2 release Http version 1.0.0

[2016-05-16 08:18] kroniak commented on #43
@tmenier NET Platform Standard 1.5 supports win10.

[2016-05-16 15:04] tmenier commented on #81
Works for me. Milestones created, and I've started tagging releases again. (I stopped at some point. I suppose I got lazy about it, plus it wasn't very useful when it was just me.) I wasn't even aware of the release notes feature with releases. That's great - I'd been using the wiki for that but this is better. I'll probably move all past release notes there.

Flurl.Http 1.0 with has been on my mi

[2016-05-16 15:04] #81 closed

[2016-05-16 15:09] tmenier commented on #3
Anyone actually want XML support in Flurl? I'd planned it originally but it may not be worth bloating the library if nobody wants it.

[2016-05-17 23:52] IDontEatSoap commented on #79
System.Reflection.TypeExtensions is bugged in the version Flur depends o, it doesn't have a valid portable target.

Is that dependency crucial for v2's functionality?

[2016-05-18 09:56] kroniak opened #82 "1.0.0 Update to NETCore RC2 + some refactoring."
I am planning big work to Flurl.Http 1.0.0
This issue is for discuss. PR will be added to here.

Goals:

- [x] Update all xproj to RC2 (cli), no more DNX.
- [x] Create one projects to Flurl\Flurl.Http with targeting NET Platform 1.4 (1.1) + net45 + Profile111.
- [x] Add win10 uap supporting #43
- [x] Fix Xamarin problem #79
- [x] Full cross platfrorm (non windows) build.
- [x] Setup AppVeyor build

[2016-05-18 12:33] tmenier commented on #82
Sounds great. I'm really glad you are tackling these platform targeting issues, that's definitely where I need to the most help. I'd planned to look at #67 at some point but if you want to take it go ahead. It could be tricky. Since we're usually dealing with async code, I think you'll want to look at Logical CallContext for this.

http://blog.stephencleary.com/2013/04/implicit-async-context-async

[2016-05-18 12:47] tmenier opened #83 "Set up build on AppVeyor"
Also add http://shields.io badge to readme.

Low priority. @kroniak If you have any experience with this and are interested let me know.

[2016-05-18 12:49] tmenier commented on #67
This could be tricky. Since we're usually dealing with async code, I think you'll want to look at Logical CallContext for this.

http://blog.stephencleary.com/2013/04/implicit-async-context-asynclocal.html

Even then, if the code a user is testing is multithreaded this could break down. I'll be interested to see what you come up with though.

[2016-05-18 17:45] kroniak commented on #83
I did it with other project.  But it is only xproject, no msbuild.
When rc2 cli tools will be available on appveyor I can do this.

I want add badges to Readme with closed PR.

[2016-05-18 17:48] kroniak commented on #82
Combine all targets to one projects is very very hard. I make 2 branches with 2 different strategies. I hate PCL targets)))

[2016-05-18 18:41] morrisonbrett commented on #79
I had a problem loading 0.9.0 and 0.10.0 until I added "dotnet5.4" to my packages.json.  Now it works:

      "imports": [ "portable-net40+sl5+win8+wp8+wpa81", "dotnet", "dotnet5.4" ]

[2016-05-18 20:01] kroniak commented on #79
@morrisonbrett you are testing net core rc2? Or Xamarin project?

[2016-05-19 13:56] kroniak commented on #82
Added some new goals. Look init message.

[2016-05-19 16:43] morrisonbrett commented on #79
.NET Core RC2.  Sorry if my response is out of context.

[2016-05-19 19:00] kroniak commented on #79
@morrisonbrett its right. with next release this is not needed.

[2016-05-19 22:53] kroniak commented on #83
@tmenier please add webhook on project settings page to https://ci.appveyor.com/api/github/webhook?id=hec8ioqg0j07ttg5 and send to them only this events:
1. PR
2. push

Content type is x-www-form...

[2016-05-20 09:53] kroniak opened #84 "Remove Flurl dependence in Flurl.Http"
When I migrated all code to cross platform build, I want to remove Flurl dependency in the Flurl.Http project and compile Flurl cs files directly in Flurl.Http.

Cross platform build is hard when changing both versions and build Flurl.Http is not possible until new version of Flurl is not available on some nuget feed.

What are you think about it?

[2016-05-20 12:33] kroniak opened #85 "Bug in parallel testing download file"
When tests are running in parallel there are IO exceptions in method can_download_file.

Trick to avoid:

[code]

Will be added to last PR.

[2016-05-20 13:26] kroniak opened #86 "Bug in net core environment with encoding"
In tests and package tester on net core rc2 in net_core_rc2_full branch there are exceptions: {"'windows-1251' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider method.\r\nParameter name: name"}

Exception is in method
[code]

@tmenier What are you think?

[2016-05-20 14:34] lvermeulen commented on #3
I just created some Flurl extensions for this. Can I submit a PR? Crazy about Flurl, BTW. :-)

[2016-05-21 01:52] tmenier commented on #71
No worries. I think we're fine without Silverlight. If I'm wrong, we can look at adding it back.

[2016-05-21 17:41] tmenier commented on #83
Ok the webhook is set up.

[2016-05-21 19:20] lvermeulen commented on #3
@tmenier Uploaded to nuget:

https://www.nuget.org/packages/Flurl.Http.Xml/
https://github.com/lvermeulen/Flurl.Http.Xml
https://ci.appveyor.com/project/lvermeulen/flurl-http-xml

[2016-05-21 20:44] kroniak commented on #3
@lvermeulen Thanks, I think owner will see your PR, please add it to **dev** branch, It will be reviewed after move to net core RC2.
I think there are a merge conflict.

[2016-05-21 20:46] kroniak commented on #83
@tmenier thanks, I will review It at Monday.

[2016-05-21 21:48] tmenier commented on #86
Note to self
http://stackoverflow.com/questions/31638035/httpclient-throws-system-argumentexception-windows-1251-is-not-a-supported-en

[2016-05-21 22:47] tmenier commented on #84
I don't completely understand the issue, but since the dependency is one way so it's always worked fine to just publish Flurl first, then pull it into Flurl.Http, test, and publish that. The advantage is that the 2 packages can take on their own life (versioned on completely independent schedules) but it's always very clear which version of Flurl that Flurl.Http currently depends on.

I like that

[2016-05-22 13:43] tmenier commented on #3
Nice! I fully endorse endorse maintaining this as its own project/package. Happy to put a shout out on Twitter if you think it's ready for prime time?

[2016-05-22 13:51] tmenier commented on #51
Sorry for not getting back to you for so long. I had wondered how useful DownloadFileAsync really is and if it's worth the extra dependency, but looking at a few projects that use Flurl, and some questions I get, I have a hunch it's pretty popular. Dropping PCLStorage would be a breaking change for those people, but I think keeping it is pretty harmless. It's a pretty small library. I'll keep this

[2016-05-22 13:57] tmenier commented on #83
FYI, seeing these errors:
[code]

[2016-05-22 14:07] tmenier commented on #48
Didn't mean to ignore this for so long. Yes, I'd like this for 1.0 I'll (finally) make it a high priority.

[2016-05-22 14:11] tmenier commented on #47
Going back over some issues I've been sitting on forever (sorry!). If you still want it I think I'd accept this PR, though I may want to think about making it configurable.

[2016-05-22 14:27] tmenier opened #89 "Document Dev/Build Processes"
@kroniak,
Going from a team of 1 to 2, adding AppVeyor, etc have some big implications on the whole dev workflow of this project. It might be good to get them documented in the wiki or something. For now I'll fire off some random questions here.

1. What exactly are we using MyGet for and what do you need from me?
2. Will AppVeyor be producing the NuGet packages for publishing from now on or do we

[2016-05-22 14:31] tmenier commented on #33
Sorry for dropping the ball on this. Making a fresh push to get Flurl.Http to 1.0, so I'll take a fresh look at this issue in the coming week or so.

[2016-05-22 16:03] lvermeulen commented on #3
@tmenier I think its own package might be the right way to go, since I'm worried about polluting Flurl.Http with all the XML references. Yeah I think it's ready for prime time, will see if anyone reports issues. Thanks!!

[2016-05-22 20:56] kroniak commented on #84
@tmenier OK. This was a simple question. Closed. I dont push to you. =)

[2016-05-22 20:56] #84 closed

[2016-05-22 21:03] kroniak commented on #83
@ I see errors. I will fix it. Into dev branch.

[2016-05-22 21:12] kroniak commented on #89
@tmenier Agree.

1. Myget is cool for fast upload and **delete** test packages while developing. You are free to upload, delete, update packages at myget. Register on myget and tell me email\username. I add you to Flurl feed owners.
2. Yes, I want to do this. AppVeyor will be producing Nuget packages. Appveyor can builds all branches or only 2 or 3. As you wish. Now is branches contains yml. I wan

[2016-05-23 18:20] tmenier commented on #3
@lvermeulen Got a twitter handle?

[2016-05-23 19:10] lvermeulen commented on #3
@tmenier yeah it's @lukvermeulen

[2016-05-23 20:29] #3 closed

[2016-05-23 20:31] tfxdevelopment opened #90 "Flurl.Http 0.10.0 nuget package has wrong dll"
Hey,

The nuget package Flurl.Http.0.10.0 has the Flurl.Http.dll version 0.7.0.0 in it, intead of the new 0.10.0.0 version.

We weren't using any features that would break between the API changes, so normally this wouldn't be a big issue. But MsTest in vs2012 won't respect assembly binding redirects, so the tests won't run because 0.7.0.0 is compiled against an older version of Json.net.

Any chan

[2016-05-24 07:36] georgiosd opened #91 "Can't send body with DELETE"
I know it's kinda non-standard but some APIs expect to send data in the body of a DELETE request.

Please add an overload with content.

Thanks!

[2016-05-24 10:52] #83 closed

[2016-05-24 13:36] tmenier commented on #83
sweet!

[2016-05-24 14:12] #85 closed

[2016-05-24 14:13] kroniak commented on #86
Build on dev branch passed but issue are live because Appveyor are not in win-1251.

[2016-05-24 14:15] kroniak commented on #79
@morrisonbrett with 1.0.0-beta3 you dont need using imports. Please check it.

[2016-05-24 14:16] kroniak commented on #79
@IDontEatSoap please checkout last night build (1.0.0-beta3) with Xamarin.

[2016-05-24 15:00] kroniak opened #94 "Drop support for NET 4.0"
I am suggesting drop support NET4 for Flurl package.

[2016-05-24 15:17] tmenier commented on #94
I am open to the idea, if there is a good reason. I would definitely want to give users a chance to weigh in on Twitter, etc.

What are your reasons?

[2016-05-24 15:42] carolynvs commented on #47
No worries, I ended up needing more customization than just this and just subclassed `HttpTest`. So I don't really need this fix anymore. Feel free to close this issue. 😄

[2016-05-24 16:10] #47 closed

[2016-05-24 16:18] tmenier commented on #91
I think this uncommon enough that we won't add it to the library, but adding it via your own extension method is quite easy:

[code]

If that's not exactly the method signature you need, just follow the pattern used by any or all of the `PostJsonAsync` overloads:

https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/HttpExtensions.cs#L422-L479

[2016-05-24 16:36] tmenier commented on #90
Thanks. You are correct, the assembly version hasn't been bumped in the last view versions.

@kroniak I've already pulled your first big PR into dev, but I'd like to release this fix very soon. Here's our options:

1. I could do a hotfix in master and release immediately as 0.10.1
2. If you feel your work is stable enough, we could take what you've got and release as 0.11.0
3. We could go to 1.0.

[2016-05-24 18:25] kroniak commented on #90
@tmenier this is bug fix on current master branch, pull and release master branch. Option 1. Appveyor will not build it.

I can not understand where you found 0.7.0. I look in master and there are not.

[2016-05-24 19:46] kroniak commented on #89
@tmenier How I see clean dev process:

1. After release a new version create new dev branch from master.
2. All idea and issue assign to milestone and implement by new branches from dev branch and merge to dev branch. All PRs must be build passed. If needed nugets from build upload to myget.
3. When issues from milestone are over create PR from dev to master and release final x.x.x-beta nuget pack

[2016-05-24 22:50] tmenier commented on #90
Good. I agree. Will get it released tonight.

It's here:
https://github.com/tmenier/Flurl/blob/master/Flurl.Http.Shared/Properties/AssemblyInfo.cs

I know there's more clever ways to keep that in sync with the nuspec etc but I've always just done a global search & replace on the previous version. Works fine until you miss it once, then it's easy to miss going forward!

[2016-05-25 00:31] tylerlong commented on #94
I don't think we should drop it unless there are really good reasons.
My company is still using .NET 4.0 by the way.

[2016-05-25 01:24] tmenier commented on #90
Fixed/released:
https://www.nuget.org/packages/Flurl.Http/0.10.1

The DLL version appears to be correct for all 3 targets when downloading the package manually, so I assume this fixes it. If I missed something, re-open.

[2016-05-25 01:24] #90 closed

[2016-05-25 08:27] kroniak commented on #94
OK

[2016-05-25 08:27] #94 closed

[2016-05-25 16:34] lvermeulen opened #95 "Url.Combine doesn't preserve query parameters"
When using Url.Combine like so:

var url = "some_path_segment".AppendPathSegments("foo", "bar")
    .SetQueryParam("tree", "building,result,number");
var realUrl = Url.Combine(baseUrl, url);

Then the outcome is an url with the ? url-encoded, in other words the query parameters are lost.

Will submit a PR.

[2016-05-26 19:29] tmenier opened #97 "Eliminate shared projects under src?"
It seems that the shared projects under src are now only referenced by one project each:

Flurl.Library -> Flurl.Shared
Flurl.Http.Library -> Flurl.Http.Shared

This would seem to defeat the purpose of using shared projects. Would it simplify things to eliminate them and just roll the code up to the library projects themselves?

[2016-05-26 19:34] tmenier opened #98 "Run CodeGen as pre-build event of Flurl.Http.Library"
This was lost as part of the conversion to xproj/project.json. I don't think it needs to hold up the release Flurl.Http 1.0 but I just want to get it logged.

It looks like it is (or was) supported in the "scripts" node of project.json, but as noted this documentation is out of date.
https://github.com/aspnet/Home/wiki/Project.json-file

[2016-05-26 19:53] kroniak commented on #98
Look build\build.flurl.http.cmd. It works. And in appveyor too. Learn build cmds too.

It is a part of full non Vs and windows build. If you need pack use cmd from build folder. Appveyor build packages and using msbuild is not necessary. Only for developing.

[2016-05-26 20:02] tmenier commented on #98
Got it. Yes I'll probably want this back in VS build at some point, but thanks for pointing out that it's there for appveyor. That's more important. Good stuff!

[2016-05-26 20:08] kroniak commented on #98
And I will look for scripts tag of project.json.

[2016-05-26 20:19] kroniak commented on #97
@tmenier You are not right.

https://github.com/tmenier/Flurl/blob/dev/Test/Flurl.Test.NET45/Flurl.Test.NET45.csproj#L61
https://github.com/tmenier/Flurl/blob/dev/Test/Flurl.Test.PCL/Flurl.Test.PCL.csproj#L69

[2016-05-26 21:45] kroniak commented on #98
@tmenier no more non node.js runner with cli. This will realise only after moving back to csproj.

[2016-05-27 11:58] kroniak commented on #43
@sibbl please check last beta version on https://www.myget.org/F/flurl/api/v3/index.json

[2016-05-28 19:04] tmenier commented on #97
But do you see any problem if those Test projects referenced the Library projects instead of the Shared projects?

It's not a big deal and I can make the change, I just want to understand if there is any benefit to the shared projects anymore.

[2016-05-28 19:58] kroniak commented on #97
I think that Cs project cannot reference xproj in rc2. I think use shared projects is right. And in this case code is tested directly.

[2016-05-28 21:42] tmenier commented on #95
I understand the issue but I'm going to decline the PR. The reason is that Url objects and Url.Combine are not meant to be mixed. Url.Combine is basically a string utility meant to solve one problem: ensuring that there is one and only one separator character between segments. If all you need to do is combine some root URL with one or more paths and end up with a sting, it's all you need. Url, on

[2016-05-28 22:01] tmenier commented on #86
@kroniak Is this still an issue? Can you tell me how to I repro? NETCore package tester runs fine for me and as I mentioned earlier I'm not able to run Flurl.Test.NETCore.

[2016-05-28 22:01] tmenier commented on #67
If this isn't ready I would be ok with shelving it for later. (1.1?)

[2016-05-28 22:36] #51 closed

[2016-05-29 08:25] kroniak commented on #86
@tmenier yes, it is. I think the problem are live for any non utf coding page. I see error on Vs running, but cmd scripts OK ( Test.cmd). And I see exception on package tester projecrs too. How to reproduce? Hmmmm.

[2016-05-29 08:43] lvermeulen commented on #95
@tmenier I totally understand. While you're thinking on it, allow me to provide the context for which I need this.

I am wrapping the Jenkins REST API, where for every call I combine with the base Jenkins url and send authentication and accept headers. This happens in a GetFlurlClient(url) method. Then for every API call I will do e.g.
[code]
Whereupon I'd like to do a GetFlurlClient(url).DoXYZ();

[2016-05-29 09:25] kroniak commented on #67
@tmenier I want to fix it ASAP. And I am testing new packages with Xamarin and win10 yet. There are problem with it.

[2016-05-29 13:45] tmenier commented on #95
Gotcha. Basically you want GetFlurlClient to provide the root URL and the caller to provide everything to the right of it. Flurl.Url is intended to start at the root and work strictly left to right. I see a couple ways you could make this work. One way would be to build the right side of the URL via a callback, the call would look something like this:

`GetFlurlClient(url => url.AppendPathSegment(

[2016-06-01 10:26] kroniak commented on #86
@tmenier I fixed test runner. https://github.com/tmenier/Flurl/commit/5f2f468fb3713585961ff0eda069058aa9f68f12

[2016-06-01 13:18] kroniak commented on #86
I have fixed this issue.

[2016-06-03 16:24] tmenier commented on #89
Do you think we need a label to indicate that an issue is fixed, tested, merged to dev, and ready for the next release? I assume we don't want to close it until it's actually released.

[2016-06-03 16:27] tmenier commented on #86
Thanks! Changing assignee so it's not on my plate, but per #89 do we want a way to mark an issue "done but not released"?

[2016-06-03 19:22] kroniak commented on #89
I think We can close this issue.

For next release I want implement parallel http test.

[2016-06-03 19:25] kroniak commented on #82
All things was implement except HttpTest.

[2016-06-03 19:31] kroniak commented on #86
OK. Mark it as "done".

[2016-06-03 19:32] kroniak commented on #89
May be

bug\enhancement ---> progress ---> testing ---> done ---> fixed

[2016-06-05 15:10] tmenier commented on #89
I thought it might be fun to give this a try:
https://waffle.io/tmenier/Flurl

The new label/status is called "ready", which means done/tested but not not released. I also color-coded the labels a little different:
green = status (waffle columns)
yellow = category
orange is still reserved for bugs

I'm still new to using labels and open to changes if you have suggestions.

[2016-06-05 15:20] tmenier commented on #82
I'll just move this to "ready" since HttpTest is covered by #67

[2016-06-05 15:23] tmenier commented on #89
oh...and gray = dead :)

[2016-06-07 05:29] engenb opened #102 "HttpCallAssertion WithQueryParam"
Was thinking I'd ask before I start work on a PR for this.  Is there a good, or preferred, approach that you are aware of for asserting that specific query params were added to the url?

I'm looking for something aside from `.ShouldHaveCalled` - something more explicit like `WithQueryParam(string name, object value)` on `HttpCallAssertion`.  I was thinking I could probably do something in a `.With

[2016-06-08 09:21] tylerlong opened #103 "NuGet Package installation issue"
[code]

![image](https://cloud.githubusercontent.com/assets/733544/15889320/5b1486a2-2d9d-11e6-869b-6b15f8d35d2a.png)

[2016-06-08 09:22] tylerlong commented on #103
According to this issue: https://github.com/tmenier/Flurl/issues/94  .NET 4.0 should be supported.

[2016-06-08 17:18] kroniak commented on #103
@tylerlong Flurl.Http didn't support net 4. Only Flurl package supports net 4.

[2016-06-08 17:20] kroniak commented on #79
I didn't receive feedback and have tasted with Xamarin myself. Close this issue when merge to master.

[2016-06-08 17:21] tmenier commented on #103
Yes, that is correct, as documented [here](http://tmenier.github.io/Flurl/installation/). (Sorry @kroniak, missed that!)

[2016-06-08 17:21] #103 closed

[2016-06-09 00:29] tylerlong commented on #103
@kroniak @tmenier Does it depend on any libraries which are not compatible with .NET 4.0? May I create a NuGet package myself and mark it compatible with .NET 4.0?

[2016-06-09 14:52] kroniak commented on #103
@tylerlong I can add support separate NET40 framework, but not PCL40 libraries. https://www.nuget.org/packages/PCLStorage/ does not support NET40.

[2016-06-13 14:36] tmenier commented on #102
Hi Brian. Sorry for the delay, been cranking out a few final things for an official Flurl.Http 1.0 release. On the surface `WithQueryParam` sounds like a good idea to me, I'll get it on the 1.1 roadmap.

[2016-06-18 21:42] engenb opened #104 "multi-threaded HttpTest mixed normal FlurlClient requests"
Hello,

Not sure this is something you're interested in supporting, but thought I'd report an issue I'm running into.

My test project has a mixture of unit tests that use HttpTest and some integration tests that are actually hitting a remote api and verifying the expected response is returned.

If I run my tests in parallel, this causes problems due to HttpTest altering the static FlurlHttp confi

[2016-06-19 00:12] tmenier commented on #104
Duplicate of #67

[2016-06-19 00:12] #104 closed

[2016-06-22 21:54] engenb opened #105 "Flurl.Http doesn't seem to be installing properly on Xamarin.iOS and Xamarin.Android projects"
1. Created a new solution (named POC) from the xamarin pcl project template in visual studio
2. Installed Flurl.Http 0.10.1 on all projects
 - POC (Portable)
 - POC.Droid
 - POC.iOS
 - POC.UWP
 - POC.Windows
 - POC.WinPhone
3. Flurl.Http "successfully" installs in all projects, but none of it's dependencies get pulled in with the install, namely Flurl 2.0.0.

I have to explicitly install each depe

[2016-06-23 09:53] kroniak commented on #105
#79 test night build, it fixs this issue.

[2016-06-23 09:56] #105 closed

[2016-06-23 09:57] kroniak commented on #67
Why did you mark this issue ready?

[2016-06-23 14:03] tmenier commented on #67
No idea how that happened. I moved it back.

By the way, I'm going to try and wrap up #48 and some misc refactoring this week, then I'll be ready for 1.0. Any thoughts on when you think you'll be ready? No rush, I'll actually be away most of next week anyway.

[2016-06-23 15:30] tmenier opened #106 "EnableCookies throws exception when not seeded with a URL"
The following use case is [documented](http://tmenier.github.io/Flurl/client-lifetime/) yet throws a NullReferenceException:

`new FlurlClient().EnableCookies()`

Related to fixes for #66.

Reported here: http://stackoverflow.com/questions/37979363/in-flurl-i-try-to-use-enablecookies-and-it-throw-a-null-reference-exception/37995841

Exception occurs here when Url is null: https://github.com/tmenie

[2016-06-23 15:36] tmenier commented on #106
If/when fixed to actually work this way, revert this?
https://github.com/tmenier/Flurl/commit/aa988b6d5c848cd19f1ccb9e85f2c5e8784581b8

[2016-06-23 16:15] tmenier commented on #82
FYI - just published, good read: https://oren.codes/2016/06/23/portable-is-dead-long-live-netstandard/

[2016-06-24 14:07] tmenier opened #108 "Update docs, release notes for cookie changes"
* Breaking change: param order of HttpTest.RespondWith

[2016-06-25 19:24] tmenier commented on #48
@gmobydick Here is a sneak peek of what a multipart post will tentatively look like in Flurl.Http 1.0:

[code]

`HttpFile` is a simple type that takes a local file path and (optionally) a content type. It's in the Flurl.Http namespace (no need for another `using`), and it tips off the object parser that it needs special handing rather than just serializing to a string like most other types.

I exp

[2016-06-25 19:56] #108 closed

[2016-06-25 22:10] tmenier commented on #95
I've decided to close this. It's a tough call whether to change the behavior of Url.Combine but I'm going to err on the side of not introducing a breaking change. Thanks again though.

[2016-06-27 23:45] Troto commented on #48
Looks good! Can't wait. I've just started using Flurl today and need this. I'm assuming this will support stream content?

Also, somewhat unrelated, is there any way to set the content and then make the call with another extension method? I know I could just call the different content type calls as necessary but it would be nice to just set the content in my method then continue the fluent call st

[2016-06-28 06:05] gmobydick commented on #48
I think that's gone work nicely.
Thanks for all your good work.

Rgds,Kurt

Med vennligst hilsen

Kurt Moan
Mobil: 97123411
Email: gmobydick@gmail.com

On Sat, Jun 25, 2016 at 9:24 PM, Todd Menier <notifications@github.com>
wrote:

[2016-06-28 17:53] kroniak commented on #82
@tmenier Our PCL references doesn't support netstandard.

I think that we need to move HttpTest work 67 to 1.1 version.

Can you change versions on dev to Flurl 2.1-pre\ Flurl.Http 1.1-pre and upload to nuget feed? I see time to do it.

I am reopening PR to master.

[2016-06-28 17:54] kroniak commented on #89
Can we close this?

[2016-06-28 17:54] kroniak commented on #97
Can we close this?

[2016-06-29 21:25] kroniak opened #109 "Test failed in dev branch."
In last build on NET CORE 1.0.0:

https://ci.appveyor.com/project/kroniak/flurl/build/1.0.0-dev-26

Failed : Flurl.Test.Http.RealHttpTests.can_cancel_request
  Expected: Flurl.Http.FlurlHttpException
  But was:  System.Threading.Tasks.TaskCanceledException: A task was canceled.

[2016-06-30 03:23] AuroraDysis opened #110 "302 with set-cookie error"
when a request is 302 with a set-cookie header, cookie is not set correctly

[2016-06-30 19:42] kroniak commented on #109
I see that test are failed after appveyor was updating NET CLI  tools to 1.0.0

https://ci.appveyor.com/project/kroniak/flurl/build/1.0.0-dev-25
and
https://ci.appveyor.com/project/kroniak/flurl/build/1.0.0-master-26-gxfikmdx

In my environment I have some error on NET CLI tools 1.0.0

[2016-06-30 19:43] kroniak commented on #109
And I see that github disconnect from AppVeyor. Please check it.

[2016-07-01 15:13] tmenier commented on #109
There were 2 webhook timeouts on 6/30 but they seem to have disconnected. I'll look at the failing test but I don't believe there's a connection problem between GitHub and AppVeyor anymore.

[2016-07-02 01:15] tmenier commented on #110
Please provide a code example or unit test to demonstrate the issue. Keep in mind Flurl follows 302 redirects by default (it uses [HttpClientHandler](https://msdn.microsoft.com/en-us/library/system.net.http.httpclienthandler.aspx) under the hood, which has this behavior), so cookie support needs to be explicitly enabled before the HTTP call by calling `EnableCookies()` on the FlurlClient.

[2016-07-02 01:20] tmenier commented on #89
I'm going to keep it open as a reminder (to myself) to add some of this info to the wiki.

[2016-07-02 02:15] tmenier commented on #82
I noticed we're still building against .NET Core RC2. The full RTM is available and is supported by AppVeyor. Think we should upgrade?

https://www.appveyor.com/updates/2016/06/27

It sort of makes sense for Flurl.Http 1.0 to coincide with .NET Core 1.0 RTM (or at least I think it's sort of cool).

[2016-07-02 02:43] tmenier commented on #82
Actually, maybe it doesn't matter. I installed the latest 1.0 SDK (I never had RC2) and it all built, tests passed, and no source changed. So cancel that.

[2016-07-02 08:31] AuroraDysis commented on #110
I get the cookie by do this trick
[code]

[code]
but you can see

![image](https://cloud.githubusercontent.com/assets/13709836/16539316/c81b4466-4071-11e6-8ed0-51aaa51cfaac.png)

I test it by flask
[code]
but all things are ok
[code]
![image](https://cloud.githubusercontent.com/assets/13709836/16539325/24d6c496-4072-11e6-9e54-a74b45f0091e.png)

[code]

[code]

[code]

[2016-07-02 08:34] AuroraDysis commented on #110
I'm not sure what the problem is

[2016-07-02 08:42] AuroraDysis commented on #110
[code]
Miss some code

[2016-07-02 12:18] kroniak commented on #82
@tmenier I see that using net core 1.0.0

Using dotnet 'C:\Users\appveyor\AppData\Local\Microsoft\dotnet\dotnet.exe'
1.0.0-preview3-003171

1.0.0-preview2 is core 1.0.0 CLI util.

https://ci.appveyor.com/project/kroniak/flurl/build/1.0.0-dev-31

[2016-07-02 12:19] kroniak commented on #109
Test is failed on my computer with core 1.0.0 and in AppVeyor
https://ci.appveyor.com/project/kroniak/flurl/build/1.0.0-dev-31

[2016-07-05 23:09] kroniak commented on #109
Fix by https://github.com/tmenier/Flurl/commit/6ff642fedec13833f9926016bbfa358012e66d16

[2016-07-06 12:41] galmok commented on #24
What if we do not want to make a global Flurl configuration, but decide on a per request which httpclient is to be used?

In our case we want to selectively ignore certificate validation.

[2016-07-06 16:39] ecentinela commented on #48
Any idea about when it will be available?

[2016-07-06 20:51] kroniak commented on #48
I think that it will be available at few days by beta7 nuget package. Rtm version will be available after community review.

[2016-07-06 22:52] tmenier commented on #48
Yes, hope to have the beta package released to NuGet this week.

[2016-07-07 03:59] tmenier commented on #109
@kroniak I see your change does cause the test to pass but it should absolutely not be necessary. I very strongly suspect the issue is with the NUnit test runner. I'm going to revert your change and update the runner, and if that doesn't work I'll just have it ignore the test in .NET Core. The problem is definitely not with Flurl or .NET Core.

[2016-07-07 05:25] tmenier commented on #109
I thought the NUnit test runner was the problem but I was wrong - it was [this bit](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L372-L376) in the .NET Core version of HttpClient, which I'm guessing is different than the 4.5 version. It basically discards the thrown FlurlHttpException and throws an OperationCanceledException instead. Easiest wa

[2016-07-07 09:28] ecentinela commented on #48
Great! Looking forward to this release!

[2016-07-07 13:42] tmenier commented on #48
@Troto Honestly I hadn't planned on doing a multipart overload that takes a stream but it would be easy (easier than a cross-platform-compatible file path actually). I just didn't want to add it if it's not useful - seems like you'd be starting with a file on disk most of the time. Maybe explain the use case? I could be convinced to add it.

As for your other question, yeah, unrelated. :) Not sure

[2016-07-09 06:04] Troto commented on #48
@tmenier  In my case it would be for the separation of the platform specific work. I'm using Xamarin Forms and have a PCL and I have all the rest service and api stuff in the PCL but I need a specific implementation of the filesystem stuff for droid and iOS so I'd like to be able to just pass a stream back from that platform file service and not pass a path that's specific to a platform to the res

[2016-07-09 16:13] tmenier opened #111 "Changes to auto-generated HTTP extension methods"
- Reduce overall number of methods by eliminating unusual verb/content type combinations like `PatchUrlEncodedAsync`
- Support unusual combinations more easily by introducing `Send*Async` methods for each content type, where verb is a variable.
- Reduce overall number of methods by making CancellationToken an optional parameter rather than having 2 overloads of every method.

[2016-07-09 16:14] tmenier commented on #111
These are changes I've been wanting to make for a while, and since they are technically breaking, it makes sense to complete them ahead of 1.0.

[2016-07-09 16:18] tmenier commented on #91
Good news: A better way to support unusual verb/content type combinations such as this will be available soon in Flurl.Http 1.0. See #111. You will soon be able to do this:

`url.SendJsonAsync(HttpMethod.Delete, object);`

[2016-07-09 17:19] tmenier commented on #48
@Troto Stream support is pushed. Similar syntax as above, with new HttpFile constructor:

[code]

`contentType` is optional but `filename` is required.

As for your other question, see if these address it: #111 #91

[2016-07-10 18:07] tmenier commented on #48
@gmobydick @Troto @ecentinela Prerelase containing mutipart support as described here is now available:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta7

Please test and provide feedback.

[2016-07-10 18:09] tmenier commented on #43
Prerelase containing this fix is now available:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta7

Please test and provide any feedback.

[2016-07-10 18:09] tmenier commented on #79
Prerelase containing this fix is now available:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta7

Please test and provide any feedback.

[2016-07-10 18:10] tmenier commented on #91
Prerelase containing this fix is now available:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta7

Please test and provide any feedback.

[2016-07-10 18:56] tmenier commented on #110
Much work was done with cookie support for Flurl.Http 1.0. `GetCookies()` has been removed, replaced by `FlurlClient.Cookies` (dictionary). Please try it and see if it fixes your issue:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta7

[2016-07-10 19:03] tmenier commented on #24
@galmok No problem - the same global settings object is available per `FlurlClient` instance via the `Settings` property.

[code]

The docs need to be updated in this area.

[2016-07-11 10:55] kroniak commented on #67
@tmenier I think, think and I see that only one right way is remove a static global configuration for Flurl.Http. Global static config pattern is antipattern.
In modern application right way to use DI to inject to service (FlurlClient) specific options like timeout and others to overload default settings.

Like:

[code]
HttpTest too be able working with DI.
What do you think about remove static Gl

[2016-07-11 17:32] AuroraDysis commented on #110
http://stackoverflow.com/questions/15103513/httpwebresponse-cookies-empty-despite-set-cookie-header-no-redirect

[2016-07-11 17:39] AuroraDysis commented on #110
They look very similar.

[2016-07-11 18:17] georgiosd commented on #91
That's great! It's an easy-enough callback to provide so I'm glad it's there for these not-so-uncommon (for me) cases :)

Thanks!

[2016-07-11 18:17] #91 closed

[2016-07-11 22:49] ecentinela commented on #48
Thank you @tmenier.

I'm testing it now. I have faced a problem due to my limited knowledge of C#. Do you know how can I merge the new "PostMultipartAsync" and "PostJsonAsync"?

For example, I need to something like:

[code]

[2016-07-12 18:01] kroniak commented on #98
@tmenier I have realized this feature. And I dont like. Code is running before every compiling, before every target. I think we can refuse this feature.

[2016-07-12 18:54] tmenier commented on #67
The #1 goal of Flurl is to save keystrokes. The trade-off is that some of the most keystroke-saving patterns to do not lend themselves well to DI. For example, what exactly do you inject into a class or method that does this?

[code]

I knew from the start this would create a problem for testing, which is why I created to test helpers. Parallel testing has become much more common since then, so I

[2016-07-12 19:51] tmenier commented on #98
yeah, that's fine. it probably only ever needs to run when the generator itself changes.

[2016-07-12 19:51] #98 closed

[2016-07-12 20:39] tmenier commented on #110
[This test](https://github.com/tmenier/Flurl/blob/dev/Test/Flurl.Test.Shared/Http/RealHttpTests.cs#L45-L50) demonstrates a cookie being set property with a 302. In a browser, the initial request to https://httpbin.org/cookies/set?z=999 responds with these headers:

[code]

So I don't know what to do about this issue. If you can demonstrate it in a test with a **_real_** URL provided, I can look in

[2016-07-12 20:44] tmenier commented on #48
@ecentinela Not really, that's sort of an odd scenario. I'd probably just use Json.NET (comes with Flurl.Http) directly:

[code]

[2016-07-12 21:12] kroniak commented on #67
@tmenier IOC injects option into FlurlClient when it was created.
[code]
In diff situation options maybe different.
I try to do something to case when options will be different in different threads. Global static options are my pain. How to do that without global FlurlClient?

[2016-07-12 21:26] ecentinela commented on #48
Thanks @tmenier for your answer, but if I do that, the Recipients is sent as a json encoded string, not really part of a multipart request. Any other suggestion?

[2016-07-12 22:48] tmenier commented on #48
Hmm. Pretty sure the whole thing would still be sent multipart, the problem is you probably want to set `content-type: application/json` for that part. This could be a showstopper; there needs to be more flexibility in setting each part. I have an idea that won't take me long but it will completely change the API around this. Stay tuned..

[2016-07-13 10:41] AuroraDysis commented on #110
Ok, I success make it reproduce

1. First step is not neccessory.( only for fiddler to grap the package)
add
[code]
to host

2.
use python 3 and flask
[code]

3. Add test
[code]

run the test and it failed
![image](https://cloud.githubusercontent.com/assets/13709836/16800646/d6f7756c-4928-11e6-8082-5bebcb75ca06.png)

All raw
[code]

In Chrome it's ok, and restsharp is also ok(not test, but orgin p

[2016-07-14 20:58] tmenier opened #113 "Support for multipart/form-data requests (including files)"
mulipart/form-data requests will be supported in Flurl.Http 1.0 via the following syntax:

[code]

In the above example, `mp` is a `CapturedMultiplartContent`, which can be built fluently inline as shown, or separately. It contains a read-only `Parts` array of `HttpContent` objects that have been added, which can later be inspected.

[2016-07-14 21:00] tmenier commented on #48
I created a new issue, #113, to replace this one. I may want to link back to the issue to show a code sample, and I think that could be confusing if I link to this issue with syntax at the beginning that is no longer valid.

[2016-07-14 21:00] #48 closed

[2016-07-14 21:55] tmenier commented on #48
@gmobydick @Troto @ecentinela Please see changes to this in #113. This is now available on NuGet:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta8

Please leave any feedback in #113.

[2016-07-15 01:45] tmenier commented on #113
This feature is now available in the latest prerelease:

https://www.nuget.org/packages/Flurl.Http/1.0.0-beta8

[2016-07-15 01:54] #97 closed

[2016-07-15 09:47] ecentinela commented on #113
Hi @tmenier , fantastic! Can you post an example about preparing the `CapturedMultipartContent` separately? Thanks!

[2016-07-15 13:31] tmenier commented on #113
@ecentinela

[code]

[2016-07-17 20:15] tmenier commented on #113
@ecentinela The sample above made me realize there ought to be extension methods on string and Url to match FlurlClient's `SendAsync`. Further, the overloads of `PostAsync`, `PutAsync`, and `PatchAsync` that took no content argument now take a (nullable) `HttpContent` object, since those verbs normally have some sort of body.

So, in the previous example, you can now build `CapturedMultipartConten

[2016-07-17 20:15] #113 closed

[2016-07-18 02:29] tylerlong opened #114 "HTTP exception message should contain message from server"
For example:
[code]

By reading the exception message, we only know that the server returns 403 as status code. But actually server also returns some text to explain why it returns 403 status code. It is super helpful if the exception message could also include the response text from server.

[2016-07-18 03:18] tmenier commented on #114
Please read the section of the docs on error handling:
http://tmenier.github.io/Flurl/error-handling/

[2016-07-18 03:35] #86 closed

[2016-07-18 03:50] #106 closed

[2016-07-18 03:50] #79 closed

[2016-07-18 03:50] #43 closed

[2016-07-18 03:50] #111 closed

[2016-07-18 03:50] #82 closed

[2016-07-18 03:50] #109 closed

[2016-07-18 05:16] #114 closed

[2016-07-18 09:24] tylerlong opened #115 "PostJsonAsync ignore null attributes"
Sample code (doesn't compile but you can get the idea):

[code]

I want the requestBody to be `{ "firstName": "Tyler" }`, but it is `{ "firstName": "Tyler", "lastName": null }`;

This is a simplified version of a real-world problem. Server side doesn't like null values. Is there an option to disable sending null attributes?

[2016-07-18 10:20] tylerlong commented on #115
Got it:

[code]

Feel free to close this issue.

[2016-07-18 13:39] tylerlong commented on #115
It seems that it doesn't apply to `SetQueryParams(queryParams)` :(   There are also null attributes in my queryParams object.

[2016-07-18 14:04] tylerlong opened #116 "SetQueryParams only supports anonymous type"
Sample code:

[code]

output:

[code]

I don't understand, why `new  { q = "test" }` works while `new MyParams { q = "test" }` doesn't work.

[2016-07-18 14:05] #115 closed

[2016-07-18 14:25] tylerlong commented on #116
OK, I've found the root cause:

https://github.com/tmenier/Flurl/blob/840a690f13b66e4b30ecc02d2560481287ba5908/src/Flurl.Shared/Util/CommonExtensions.cs#L55

[code]

So apparently only **properties** are supported, fields are not supported.

Is this by design or bug?

[2016-07-18 14:43] tmenier commented on #116
That is the cause and it's by design. Just change it to this:
[code]
This is a best practice and almost all reflectionary tools/libraries in the .NET ecosystem ignore public fields. Reflecting on public fields is not a change I'll consider.

http://programmers.stackexchange.com/questions/120497/why-are-public-and-private-accessors-considered-good-practice
http://csharpindepth.com/Articles/Chapter8

[2016-07-18 14:43] #116 closed

[2016-07-20 14:03] tylerlong opened #118 "Cannot install it for Xamarin Portable Library"
How to reproduce:

Create a portable library project with Xamarin Studio, then try to install this library.

![screen shot 2016-07-20 at 10 02 49 pm](https://cloud.githubusercontent.com/assets/733544/16989188/d2083f6c-4ec5-11e6-9131-e1fa526203e0.png)

[code]

[2016-07-20 15:55] kroniak commented on #118
@tylerlong Did you install beta version in thread #79?

[2016-07-20 15:57] kroniak commented on #67
@tmenier Please answer what do you think about "How to do that without global FlurlClient?"?

[2016-07-21 09:40] tylerlong opened #119 "Cannot install it for PCL project"
I created a PCL project with Visual Studio and here is the targeting:

![image](https://cloud.githubusercontent.com/assets/733544/17018411/31357f78-4f6a-11e6-93a1-bfb9e27d47a9.png)

[code]

[2016-07-21 12:38] kroniak commented on #119
@tylerlong As you see (https://www.nuget.org/packages/Flurl) Flurl supports
Portable Class Library (.NETFramework 4.0, Windows 8.0, WindowsPhoneApp 8.1)

[2016-07-21 13:21] tylerlong commented on #119
@kroniak  I should support Android and iOS and I think it is the root cause.
 I tried targeting both .NET 4.0 and .NET 4.5, none worked. If I remove Android and iOS from the targeting list, it worked as far as I can remember.

[2016-07-21 13:43] tmenier commented on #67
Sorry. What IoC container are you using? Doesn't it allow some sort of factory method for resolving a type? In that method I would create a FlurlClient, configure its settings via the `Settings` property, and return it. Again, each FlurlClient instance [gets its own copy of those settings](https://github.com/tmenier/Flurl/blob/master/src/Flurl.Http.Shared/FlurlClient.cs#L25). The global settings b

[2016-07-21 14:58] kroniak commented on #119
@tylerlong I did investigate it. I have no problem to create PCL with Android.

![pcl](https://cloud.githubusercontent.com/assets/1502943/17027493/bbc2ec5a-4f6c-11e6-9bb2-69667e392de1.PNG)

[2016-07-21 15:28] tylerlong commented on #119
@kroniak What if you change the targeting list the same as mine?

[2016-07-21 15:37] kroniak commented on #119
@tylerlong It doesnt work because your list of targets is not supported. Like silverlight.

[2016-07-21 16:02] kroniak commented on #118
@tylerlong I don't have Xamarin Studio and I have no problem with Android with VS2015  #119. Do you know what PCL version make Xamarin Studio?

[2016-07-21 16:03] kroniak commented on #119
@tylerlong remove silvellight and enjoy!

[2016-07-22 00:53] tylerlong commented on #119
@kroniak I cannot remove silverlight although I don't want to support it at all. Because if I support ther other 4 targets, silverlight is automatically targeted.

![image](https://cloud.githubusercontent.com/assets/733544/17043490/bbd3c0c0-4fe9-11e6-93cb-e9a3f3d7d098.png)

[2016-07-22 00:58] tylerlong commented on #118
@kroniak It is the default protable project created by Xamarin Studio without changing the targets.

The targets are: portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10

[2016-07-22 09:04] kroniak commented on #119
@tylerlong Look my targets and do likewise.

![pcl](https://cloud.githubusercontent.com/assets/1502943/17052039/6c1d6a84-5004-11e6-86c0-4bf55c25ca23.PNG)

![pcl2](https://cloud.githubusercontent.com/assets/1502943/17052041/6fe50640-5004-11e6-86e5-4a1df734cc77.PNG)

[2016-07-22 13:26] MNF commented on #95
@tmenier, I ask you to re-consider the ability Url.Combine to support '?' and query string.
I've tried to combine 2 parts of url, the second included query string
Url.Combine("https://api.surveymonkey.net/v3/" , "surveys?api_key=xxx");
The result "https://api.surveymonkey.net/v3/surveys/%3Fapi_key=xxx"  had encoded '?', which was unexpected for me.
I think that ability to include any parts of url,

[2016-07-22 14:15] tylerlong commented on #119
@kroniak

My point is: Flurl, as a small utility library, should support as many targets as possible. Let's take the famous `Newtonsoft.Json` library for example, it works on all the project types and targets combinations that I've ever tried.

If all NuGet libraries only support targets that authors have good feelings of, users suffer.

For example, my library depends on both `Flurl` and `PubnubP

[2016-07-22 14:25] tmenier commented on #119
@tylerlong Newtonsoft.Json supports the broad range of platforms that it does largely thanks to its many [contributors](https://github.com/JamesNK/Newtonsoft.Json/graphs/contributors). My point is, if you need broader support and know how to do it, contribute. We will consider a PR.

[2016-07-22 14:47] tylerlong commented on #119
I can contribute. Could you please point me to something like developer setup guide? Such as how do you run the tests and how do you compile an deploy? Is Flurl itself a PCL project?

[2016-07-22 14:49] kroniak commented on #119
@tmenier I agree. PCL is a hell of dependencies. For future NET Std pull over all PCL libs. As for me I like to drop PCL target right now =).

@tylerlong Use old versions Flurl without net core.

[2016-07-22 15:03] kroniak commented on #119
I see how to return back full PCL profile at next week. Changes will be in #117 PR.

[2016-07-23 13:25] tmenier commented on #95
@MNF I would suggest this:
[code]
Would that work in your case?

[2016-07-24 11:19] MNF commented on #95
Yes, it would work, but it requires a bit more knowledge of available methods and it is longer.
Combine is the simplest and familiar method, that most of users will start from, and error, if they include query string, may disappoint them.

[2016-07-24 22:40] tmenier commented on #95
I'm starting to be convinced.

Url.Combine is indeed simple, but that simplicity means more assumptions need to be made about intent. For instance, if you have `Url.Combine(a, b, c)`, and b has a "?" in it, do you assume it's a path segment and therefore encode the "?", or is it the beginning of the query string? Can't know for sure because it's less explicit than using `AppendPathSegment` and `Se

[2016-07-25 03:24] lvermeulen commented on #95
I'm in total agreement. :-)

[2016-07-25 11:07] MNF commented on #95
Looks good for me.

[2016-07-25 12:34] kroniak commented on #119
To return back full PCL profile need to add missed method Split(char [], int) in PCL
[code]

@tmenier Do you have an idea?

[2016-07-25 13:20] tmenier commented on #119
@kroniak Good to know, thanks. If that's all it's gonna take I can just add a utility method that replicates it. Flurl 2.2 is in the works anyway (#95), I will add this.

[2016-07-26 03:30] tmenier commented on #118
Does #119 resolve this or is it a separate issue? I'm otherwise ready to go with Flurl 2.2 but if this one's an easy fix I can wait on it.

[2016-07-26 03:48] tmenier commented on #118
https://github.com/tmenier/Flurl/releases/tag/Flurl.2.2.0-beta1

I think the Url.Combine change was significant enough for a minor version bump.

[2016-07-26 05:15] tylerlong commented on #118
Could you please release a beta version to NuGet? I can have a quick try then. For now I have no idea how can I install it.

[2016-07-26 07:32] kroniak commented on #118
@tmenier Please delete tag, I am working at this issue yet.
I will say when all will be ready and tested.

@tylerlong After tests.

[2016-07-26 13:33] kroniak commented on #119
@tylerlong Please test new beta version on https://www.myget.org/F/flurl/api/v3/index.json feed.

[2016-07-26 13:33] kroniak commented on #118
@tylerlong Please test new beta version on https://www.myget.org/F/flurl/api/v3/index.json feed.

[2016-07-26 18:20] kroniak commented on #89
@tmenier I think you have protect master brunch with AppVeyor check (continuous-integration/appveyor/pr) here https://github.com/tmenier/Flurl/settings/branches.

[2016-07-26 18:22] tmenier commented on #89
@kroniak Does not appear so: http://screencast.com/t/uflnkuVBFQOn

[2016-07-26 18:25] kroniak commented on #89
@tmenier Add protect master by "Choose a branch..."

[2016-07-26 18:28] tmenier commented on #89
Done. (misunderstood, thought you wanted it _not_ protected.)

[2016-07-26 18:32] kroniak commented on #89
@tmenier I want to protect it. Em... have\must. My English is bad. =)

[2016-07-26 20:33] tmenier commented on #95
@lvermeulen @MNF Please test and let me know if it meets your expectations: https://www.nuget.org/packages/Flurl/2.2.0-beta1

[2016-07-26 20:34] tmenier commented on #119
Also now on Nuget: https://www.nuget.org/packages/Flurl/2.2.0-beta1

[2016-07-26 20:34] tmenier commented on #118
https://www.nuget.org/packages/Flurl/2.2.0-beta1

[2016-07-26 22:01] tmenier commented on #89
your english is FAR better than my russian :)

[2016-07-28 06:04] michael-freidgeim-webjet commented on #95
Sorry Todd, it doesn't work for my sample
[code]

[2016-07-28 14:32] tmenier opened #121 "Updates to documentation"
For tracking updates and changes needed to the docs. I welcome community input here!

http://tmenier.github.io/Flurl/installation/
- [ ] Update supported platforms http://tmenier.github.io/Flurl/installation
- [ ] Mention Flurl.Http.Xml

http://tmenier.github.io/Flurl/fluent-url/
- [ ] Url.Combine enhancements

[2016-07-28 15:08] tmenier commented on #95
Oops...it might have helped if had merged the branch with the enhancement before publishing! Sorry about that. Let's try this again:

https://www.nuget.org/packages/Flurl/2.2.0-beta2

Thanks for catching!

[2016-07-28 17:06] kroniak commented on #121
@tmenier I think that the best is list target as in nuget package. About netcore say "Support NETCore 1.0.0 by NETStandard target 1.4". Like so.

You write something and we will review.

[2016-07-28 23:35] thiagoburgo commented on #26
Hi @tmenier,

I wanna suggest allow change culture, and let InvarianteCulture as default.

What do you think?

[2016-07-29 01:17] tmenier commented on #26
@thiagoburgo I will give that some thought. Could you create a new issue and give an example where this would be helpful?

[2016-07-29 01:30] tmenier commented on #121
@kroniak How's this?

- .NET Framework 4 and above for Flurl, 4.5 and above for Flurl.Http
- .NET Core 1.0 (via .NET Standard 1.4)
- Windows 8
- Windows Phone 8.1
- Windows Phone Silverlight 8
- Xamarin.Android
- Xamarin.iOS
- Xamarin.Mac
- UAP 1.0
- MonoTouch
- MonoAndroid

[2016-07-29 01:38] tmenier commented on #121
Hard to find good examples. NUnit lists theirs: https://www.nuget.org/packages/NUnit/

[2016-07-29 01:53] tylerlong opened #122 "Is `multipart/mixed` supported?"
Take the following code snippet for example:

[code]

Code above creates an HTTP request content which contains a `StringContent` and multiple `ByteArrayContent`. And the overall content is `MultipartFormDataContent` with mediaType equals `multipart/mixed`.

I searched this repo and couldn't find anything similar.

[2016-07-29 01:54] kroniak commented on #121
@tmenier Yep. I would have said: Minimal version:

| Target Platform Name | Alias | Flurl | Flurl.Http  |
| :---------- | :--------- |:--------- |:--------- |:
|.NET Platform Standard | netstandard | &rarr; | 1.4 |
|.NET Core|netcoreapp| &rarr; | 1.0 |
|.NET Framework|net| 4.0 | 4.5 |
|Universal Windows Platform|uap|&rarr;|10.0|
|Windows|win|&rarr;|8.0|||||
|Windows Phone|wpa|&rarr;|8.1|
|Windows

[2016-07-29 01:56] tylerlong commented on #122
I found https://github.com/tmenier/Flurl/issues/113

But is there any way to specify the content type if file? such as `application/pdf`.  Sample code:

[code]

[2016-07-29 03:20] michael-freidgeim-webjet commented on #95
@tmenier , it works now, thanks.

[2016-07-29 04:21] tylerlong commented on #122
I've Got it. Just `PostAsync(multipartFormDataContent)`.

I have to build the `multipartFormDataContent` manually. There is no "Fluent" way. But I am OK with it.

[2016-07-29 04:21] #122 closed

[2016-07-31 02:15] tmenier commented on #119
Full release now available: https://www.nuget.org/packages/Flurl/2.2.0

[2016-07-31 02:15] #119 closed

[2016-07-31 02:15] #95 closed

[2016-08-11 00:28] kroniak commented on #118
Closed

[2016-08-11 00:28] #118 closed

[2016-08-11 00:59] kroniak opened #124 "Feature request: Array and Dictionary to QueryParams"
Need this case in Flurl

[code]

Count of columns in one row may be variable.

Is it real?

[2016-08-11 02:50] tmenier commented on #124
I'm not sure about adding this because there's no real standard for structured data in a query string.

http://stackoverflow.com/questions/6243051/how-to-pass-an-array-within-a-query-string

If this format was standardized or at least agreed upon by the major server-side frameworks, I think I would definitely want to add it to the core.

[2016-08-11 13:28] #124 closed

[2016-08-17 08:53] zhouyongtao opened #125 "Support Asp.Net Core 1.0?"

[2016-08-17 11:22] kroniak commented on #125
@zhouyongtao Yes.

[2016-08-17 11:22] #125 closed

[2016-08-22 20:34] piedoom opened #126 "Deseralizing object with `PostJsonAsync`"
Hi -
I use the generic parameter a ton for getting Json, e.g. `.GetJsonAsync<MyJSONObject>()`.  I was wondering if there was a reason why `.PostJsonAsync()` doesn't have the same functionality.  It's easy enough to deserialize afterwards, but wrapping it up might be a nice addition.

[2016-08-22 22:46] tmenier commented on #126
You can deserialize it in the fluent chain via `ReceiveJson<T>()`. See the example on the home page:

http://tmenier.github.io/Flurl/

[2016-08-22 22:56] #126 closed

[2016-08-25 13:46] XiteZ opened #127 "Exception in thrown even when ExceptionHandled is set to true"
Hey,

Either I don't understand correctly that function or there is something wrong.
Let's look at this code:
[code]
and then:
`url.AppendPathSegment("media").GetJsonAsync<List<Media>>();`

if something wrong happens now, HandleError method is called properly but above line of code still throws an flurl exception. It should not throw an exception I guess. Am I right?

[2016-08-31 01:17] tmenier commented on #127
I was unable to reproduce this. (See [test](https://github.com/tmenier/Flurl/commit/466fea2a2ae48866f9cbdefe8f2a79db0acdc7f0).) Can you post a full code sample? I think something else is going on.

[2016-09-08 15:52] rmbrunet opened #128 "FileNotFoundException in Framework 4.6.1"
Hello, I am having a problem using Flurl.Http. When calling
[code]
I get a **FileNotFoundException** for **System.Reflection.TypeExtensions**. I can reproduce the problem simple console app just referencing **Flurl** and **Flurl.Http**. At the same time "http://...".GetStringAsync() works perfectly well.

Any idea what could be happening?

Great library!

Roberto

[2016-09-09 12:44] rmbrunet commented on #128
Great!

[2016-09-12 12:57] rmbrunet commented on #128
Any idea when this fix will be available?

Thanks!

[2016-09-12 12:59] kroniak commented on #128
@rmbrunet I have no rights to upload it to nuget. By it is avaliable on myget today.

[2016-09-12 13:12] rmbrunet commented on #128
Thanks @kroniak!

Btw, you are missing an 's' in St. Petersburg, mednii vsadnik won't be happy :-)

[2016-09-12 13:19] kroniak commented on #128
@rmbrunet you are right. I was using russian to english transcription without s char. I'll change it.

[2016-09-12 16:59] rmbrunet commented on #128
@kroniak, I updated my Flurl.Http to 1.0.2 from MyGet. Everything seems to be working fine. But I observed something (unrelated) that happens to me always. I am doing my testing in Linqpad (the paid edition allows me to import Nuget Packages) and, after importing Flurl.Http I always get a MissingMethodException in PostUrlEncodedAsync. Then I have to manually add a reference to System.Net.Http  to

[2016-09-12 19:26] kroniak commented on #128
@Rembrandt I have a some idea about it. What version of net do you use with linqpad?

[2016-09-12 19:44] rmbrunet commented on #128
I am using Linqpad 5 implying Framework 4.6.*

[2016-09-12 21:55] tmenier commented on #128
didn't mean to close, not "officially" fixed yet :)

[2016-09-12 22:28] tmenier commented on #128
ok, this is up on [NuGet](https://www.nuget.org/packages/Flurl.Http/1.0.2). Thanks to both of you for reporting/fixing!

[2016-09-12 22:28] #128 closed

[2016-09-13 15:24] rmbrunet opened #131 "Reference to System.Net.Http not added when installing Flurl.Http"
I have noted before, working in Linqpad5, that the reference to System.Net.Http is not added when adding Flurl.Http and have to be added manually. Today I did a test with a console application (targeting 4.5.2) and removed the default System.Net.Http reference before adding Flurl.Http nuget package and it wasn't added back.

[2016-09-13 15:34] ScottGuymer commented on #102
Has this gotten any further?

Is there currently a way to do this?

[2016-09-13 20:28] tmenier commented on #102
Haven't gotten to this yet, but I think `ShouldHaveCalled` combined the `*` wildcard should be able to do what you need. Something like:

[code]

[2016-09-16 14:05] rmbrunet opened #133 "WithDefaultCredentials extension method"
Today I found myself in need to make a call with the default network credentials. The best I could do was:
[code]

wouldn't be nice to have a WithDefaultCredentials() extension method?

[2016-09-20 02:16] #89 closed

[2016-09-22 02:35] #131 closed

[2016-09-22 03:22] tmenier commented on #133
In your particular case, yes it would be nice. :) I'm a little picky about what extension methods get baked into the core - generally things that are extremely common, or not trivial to implement (like cookies). I don't know how common UseDefaultCredentials is, personally I've never had a need for it.

2 options: Write your own extension method for your own use (you've already demonstrated how eas

[2016-09-22 03:24] #133 closed

[2016-09-22 03:25] #127 closed

[2016-09-22 03:26] #110 closed

[2016-09-22 10:49] rmbrunet commented on #133
I understand your interest in keeping the library clean. I made the suggestion because, after using the library for several other cases with Basic and Bearer Authentication I was "expecting" the DefaultNetworkCredentials just to be there. Nothing difficult to fix as you said (I did override the CreateMessaeHandler).

Thanks to you and to @kroniak for a wonderful tool!

[2016-10-05 06:07] memorex700mb commented on #33
Im also trying to implement fusillade with flurl. I wonder if there is a support like refit have. Sorry Im new to both fusillade and flurl.y

[2016-10-10 11:13] jefkeijers commented on #33
Up 👍

[2016-10-11 14:56] tmenier commented on #33
This one continues to slip off my radar, sorry. I don't want to promise when, but it is the very next issue I will address.

[2016-10-15 21:12] tmenier commented on #33
It's been a while since I've read through this thread, and I should have updated it when Flurl.Http 1.0 was released, because there is a solution now. The problem was that there was no hook into `HttpClient` construction on a per-call basis. But those `FlurlHttpSettings` (which include an `HttpClientFactory` instance)  are no longer strictly static - each `FlurlClient` gets a _copy_ of the global

[2016-10-16 15:59] tmenier commented on #67
@kroniak I've taken a break from working on Flurl but I'm ready to get back at it. Parallel testing is my top priority.

I tried storing `HttpTest` on the logical call context and it worked like a charm. The bad news is it's [not supported on all platforms](http://stackoverflow.com/q/33843187/62600). I believe I can do some platform sniffing and get it to work on .NET 4.5/4.6 and Core, and simply

[2016-10-17 05:12] oliverjanik opened #135 ".NET 4.6.1 dependencies"
Hello, I'm using just Flurl not Flurl.Http.

Correct me if I'm wrong, but are these needed?
[code]

Doesn't the fact that you're targeting FULL .net guarantee presence of those namespaces?

[2016-10-17 11:11] kroniak commented on #67
1. Customers must to add FlurlClient object to all API classes to work with specific classes. It's great refactoring.

I see one way - It's isolating static fields for threads. In different threads will be different options. Thread can change it with FlurlHttp.Settings or gets default.

[2016-10-17 11:17] kroniak commented on #135
@oliverjanik There are NET45 dll and NETSTD1.3 dll. Project on Full NET461 does not use NET45 lib and uses NETSTD1.3 dll which require these deps.

[2016-10-19 12:27] wvdvegt opened #136 "Trace http traffic"
Is it possible to trace the http network traffic?

I would like to see the full http request and response of web services I call for debugging purposes. So be able to see the Json before it gets de-serialized etc..

As a workaround I created a couple of extension methods that do so (but a build-in option would have y preferences, in order to avoid update issues).

Example:

[code]

[2016-10-23 13:25] tmenier commented on #136
If this works how you need it to then I think you did it exactly the right way. I wouldn't worry about this breaking due to future updates. Other than `FlurlHttpException` at the end, you're not even dealing with Flurl APIs at all. (`HttpMessage` is part of the underlying HttpClient APIs.) Everyone likes to debug a little differently, so I'd say this is better left as a nice example of Flurl's ext

[2016-10-23 13:27] tmenier commented on #33
Haven't heard back on this but I'm going to assume the solution above addresses the issue and close it. Feel free to re-open or create a new issue if you disagree.

[2016-10-23 13:27] #33 closed

[2016-10-23 13:33] tmenier commented on #67
The problem with using thread local storage is that we're dealing with async code and often not resuming on the same thread, so I don't think that will work here. But this is exactly what logical call context (and the newer [AsyncLocal](https://msdn.microsoft.com/en-us/library/dn906268)) were created to address.

[2016-10-24 07:42] wvdvegt commented on #136
I agree that everybody's thought on debugging are different. Personally I would personally like some hook to be able to do debugging my way. One or two delegates I can pass to the method doing the actual work, that get called if assigned and get passed the request and/or response objects.
That way everybody could do debugging the way he/she likes (or not).

Problem with the fluent approach is that

[2016-10-25 21:59] JoeRock11 commented on #24
I've posted a somewhat related issue on [stack](http://stackoverflow.com/questions/40250400/implement-modernhttpclient-in-flurl). If you could take a look when you get a chance, thanks Todd.

[2016-10-27 11:33] andresmoschini opened #137 "HTTP Cache, etag, etc"
Hi @tmenier, I would ask you what is the proper way, using Flurl, to take advantage of HTTP cache features like etag.

[2016-10-29 14:46] #135 closed

[2016-10-29 14:51] tmenier commented on #136
Just another note: [the `BeforeCall` and `AfterCall` callbacks ](http://tmenier.github.io/Flurl/configuration/) are also very effective mechanisms for inspecting/debugging calls.

[2016-10-29 14:51] #136 closed

[2016-10-29 15:09] tmenier commented on #137
I haven't done anything specific to support those features, but since Flurl is basically a thin facade over HttpClient with lots of hooks to manipulate that object directly if needed, the best approach is to first figure out how to do what you want with HttpClient and then translate that to Flurl. If you just need to add the relevant request headers, that's pretty easy using `WithHeader` / `WithHe

[2016-10-31 10:30] MNF opened #138 "Flurl.Http NuGet package doesn't include some system dependencies."
The sample console app with just added Flurl.Http sequentially reported that it
Could not load file or assembly 'System.Diagnostics.DiagnosticSource',
System.Security.Cryptography.X509Certificates, Microsoft.Win32.Primitives.

I had to manually install correspondent NuGet packages to make application working.

Could you please add missing dependencies to the NuGet package.
The sample application c

[2016-10-31 12:12] andresmoschini commented on #137
Yes, thanks, I did that. Anyway, please consider it for future improvements.

[2016-10-31 12:12] #137 closed

[2016-10-31 15:17] wvdvegt commented on #136
Hi

Excellent solution.

One drawback when making calls to reset services is that you cannot (as far as my knowledge goes), dump the response body (as it's still in the stream).

So one more callback (just before serialization) when the stream is read would be a great addition.

So in ReceiveJson() just before the

[2016-11-02 17:55] Jacob-McKay opened #139 "Ability to have PatchJsonAsync set content-type: "application/json-patch+json""
Some C# libraries built to consume json PATCH requests rely on this header being set.

How do you feel about having flurl set this header automagically?

[2016-11-03 19:28] mikehaas763 opened #140 "Port to TypeScript"
I think it'd be great to have this lib ported to TypeScript is that it works with single page apps. Maybe I'll get around to it one of these days :)

[2016-11-04 01:32] tylerlong commented on #140
Good idea! Do share the url here once you have the repository.

[2016-11-04 09:14] kenhahn85 opened #141 "HttpTest Call List race condition?"
I'm encountering strange race condition when trying to assert against the number of times an http request was made through Flurl (using the `.Times`) method, but the results of the `Times` method are inconsistent -- the hallmark of a race condition. I'm just not sure where the race condition is, and `HttpTest` is my best guess, seeing as I've read that `List.Add` is not threadsafe.

[2016-11-04 09:29] kenhahn85 commented on #141
Nvm, figured it out.

[2016-11-04 09:29] #141 closed

[2016-11-04 13:29] eestein commented on #49
@tmenier would you have any examples on how to use the ISerializer? I need to set it to use only lowercase, not the TitleCase properties C# uses.

Thanks

[2016-11-04 19:35] kroniak commented on #138
@MNF sorry, I cant reproduce this issue on fresh console net 461 app from vs2015 console app template.

I use https://github.com/MNF/CommonDotNetHelpers/blob/master/Samples/CheckFiddlerWithSystemNetHttp/CheckFiddlerWithSystemNetHttp41/Program.cs code.

All dependencies were installed with flurl.http package.

[2016-11-06 13:04] tmenier commented on #141
Related to #67? HttpTest and related methods need a big disclaimer that they are by no means threadsafe. Known issue and being worked on right now. For now it is just a known limitation that testing multithreaded code or running tests in parallel doesn't play nice with Flurl's testing methods.

[2016-11-08 21:39] taleman commented on #49
here is an example. I needed to serialize camelcase proprerty names.

[code]

[2016-11-14 21:24] Deilan opened #143 "Replace constructor with factory method in HttpExtensions class"
In some cases it is needed to configure `FlurlClient` instance (e.g. modifying `FlurlHttpSettings`) before invokation of the extension methods of `HttpExtensions` class. For example, recently I've encountered a situation when I needed to replace naming strategy of the underlying `NewtonsoftJsonSerializer`. Yes, there is corresponding method:
[code]
which gets the job done, but the problem is: one

[2016-11-14 21:32] JulianRooze opened #144 "Creating a new HttpClient every request"
I really love using Flurl.Http, but I have some concerns with its use of the `HttpClient`. Unless I'm overlooking something, every call to something like `PostJsonAsync` or `GetAsync` creates a new `HttpClient` and then disposes it at the end. For a number of reasons, this is not recommended as explained in this article:

http://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

What this mea

[2016-11-15 17:50] pmorelli92 opened #145 "SUT is overriding HttpTest 's HttpClientFactory"
Hi guys, so the problem I am having is that when I execute this:

[code]

Inside the ctor of the HttpTest we can see that this code is executed:

[code]

And when I call my sut.Post this happens:

[code]

Where GzipDefalteEncoding is an extension method that does the following:

[code]

Then, when the call is executed, it is against the real url because the TestHttpClientFactory was overriden.

I

[2016-11-15 19:10] tmenier commented on #143
I think [configuring those options at the global level](http://tmenier.github.io/Flurl/configuration/) is what you're looking for. Each `FlurlClient` instance still gets its own copy of those settings, but the global config provides a mechanism for setting defaults for every instantiated instance app-wide.

[2016-11-15 19:31] tmenier commented on #144
Thanks. I'm well aware of the advice, and you're right - at a high enough volume (probably higher than most applications need to worry about) you really ought to be reusing instances rather than rapidly creating/disposing, and the string extension methods don't really give you a way to do that.

HttpClient lifetime is directly tied to that of the containing FlurlClient, so for high-volume scenario

[2016-11-17 18:05] pmorelli92 commented on #145
Yesterday I read this issue #144 and I concluded that I was using (pun intended) the HttpClient in a bad way.
So now my SUT receives the FlurlClient by injection with the DeflateGzipEncodingHttpFactory shown before already set (instead of creating a FlurlClient with an HttpClient per request) and now my `sut.Post` execute the following:

[code]

Even tough the  `.WithUrl` extension creates a new i

[2016-11-18 15:36] TimWilde commented on #102
https://gist.github.com/TimWilde/d42a15edb987a50c60f4526cea6a71eb

This is a quick fix extension method I'm using to work around this for now so the query params can be checked in line with other assertions about the call.

You'll have to excuse the abuse of the RouteValueDictionary - I didn't feel like reinventing the object to dictionary wheel.

Just call `.WithQueryParams( ... )`  inline with o

[2016-11-18 18:42] ScottGuymer commented on #102
Never got round to this. Was putting together a PR with this but got sidetracked

@TimWilde has a nice solution!

[2016-11-19 19:48] tmenier commented on #102
Nice. @TimWilde If you really want to avoid RouteValueDictionary, Flurl has already [reinvented the object to dictionary wheel](https://github.com/tmenier/Flurl/blob/master/src/Flurl.Shared/Util/CommonExtensions.cs#L24). ;)

[2016-11-20 17:39] tmenier opened #146 "Better support for IoC/DI and mocking"
Add a `FlurlClient` constructor that a `FlurlHttpSettings` object, making it more friendly to use with IoC containers/constructor injection. Also add a `IFlurlClient` interface, which will also make `FlurlClient` easier to mock with tests.

[2016-11-20 18:18] tmenier commented on #67
Parallel tests are working (except on PCL)! I think [this test](https://github.com/tmenier/Flurl/blob/dev/Test/Flurl.Test.Shared/Http/TestingTests.cs#L102-L123) proves it. [Here's the platform-specific call context stuff](https://github.com/tmenier/Flurl/blob/dev/src/Flurl.Http.Shared/Testing/HttpTest.cs#L135-L146) if you're curious. Other suggested changes moved to #146. Prerelease for Flurl.Http

[2016-11-20 18:25] tmenier commented on #140
Sounds like good idea. I think a port would be its own project though, so I won't keep this as an open issue under this project.

[2016-11-20 18:25] #140 closed

[2016-11-21 01:15] tmenier commented on #102
Flurl.Http 1.1 will be released shortly, and will include this enahancement. You'll now have:

- `WithQueryParam(string name)` - just checks for existence
- `WithQueryParam(string name, object value)` - checks for name/value, with support for "*" wildcard in value
- `WithQueryParam(object values)` - checks for multiple names/values, supports POCO (parses object properties to name/value pairs) or d

[2016-11-21 02:27] tmenier commented on #67
Please test the prerelease https://www.nuget.org/packages/Flurl.Http/1.1.0-pre

[2016-11-21 02:28] tmenier commented on #102
This is now in prerelease. Please test and provide feedback at your earliest convenience. https://www.nuget.org/packages/Flurl.Http/1.1.0-pre

[2016-11-21 04:14] tmenier commented on #139
Technically that header is used to indicate that you are sending a [JSON Patch document](https://tools.ietf.org/html/rfc6902), which isn't necessarily implied just because you're sending JSON and using the PATCH verb. So I wouldn't set it automatically. But I'd be open to possibly supporting JSON Patch in Flurl if it's something people want. It'd be a larger effort than just setting the header tho

[2016-11-21 04:23] tmenier commented on #145
There's some major refactoring to HttpTest in Flurl.Http 1.1 that I believe will fix the quirks you found originally. Give it a try: https://www.nuget.org/packages/Flurl.Http/1.1.0-pre

[2016-11-21 10:31] TimWilde commented on #102
Just gave this a try but unfortunately it breaks with repeating parameters. Here's an example:

`new { first = "normal", second = new Collection<string> { "qwer", "asdf", "zxcv" } }`

Becomes:

[code]
Whereas `second` should become three entries with the same name:

[code]

[2016-11-21 12:06] TimWilde opened #148 "Test mode does not function as documented when tests are run in parallel."
This behavior affects 1.1.0-pre.

The documentation says:

and

However, I've found that if I don't explicitly call `.RespondWith(...)`, then the test will fail when run as part of a test fixture, but will pass when run in isolation. Specifically, when run as part of a test fixture, Flurl attempts to make a web request as if HttpTest were not in effect.

Example which fails when run as part of a f

[2016-11-21 13:20] kroniak commented on #146
@tmenier Great job! I am testing!

[2016-11-21 13:21] kroniak commented on #67
@tmenier Great job! I am testing!

[2016-11-21 20:46] Jacob-McKay commented on #139
Do you have any contribution guidelines?

[2016-11-22 04:06] tmenier commented on #148
Thanks for testing. I've tried to repro this in many different ways and cannot. Some thoughts:

1. The symptoms sound suspiciously like how this would have behaved prior to 1.1-pre. Try uninstalling Flurl and Flurl.Http, cleaning your solution, re-installing Flurl.Http 1.1-pre, and re-building. Just want to be sure nothing is cached.

2. What version of .NET are you using? If 4.5 or greater (or .N

[2016-11-22 04:13] tmenier commented on #102
@TimWilde Thanks for the feedback! Just to be clear, I want to make sure I understand the scenario.

If the test subject calls this url:

`http://api.com?x=1&x=2&x=3`

And I do this in my test:

`test.ShouldHaveCalled("*").WithQueryParams(new { x = new[] {1, 2, 3} });`

The test will fail?

Although it seems like a bit of a stretch that someone would write a test like that, I do agree with you tha

[2016-11-22 04:15] tmenier commented on #67
@kroniak #148 was reported but I am not able to repro. Interested to hear your results.

[2016-11-22 04:25] tmenier commented on #148
FYI, [here](https://github.com/tmenier/Flurl/blob/dev/Test/Flurl.Test.Shared/Http/RealHttpTests.cs#L213-L222) is a rather extreme case of parallel testing that proves real and fake calls can even run in parallel in the same test, which is something I didn't set out to support but I think shows the isolation is solid.

[2016-11-22 12:02] kroniak commented on #67
@tmenier I have no issue with parallel testing!

[2016-11-22 13:37] JulianRooze commented on #144
Thanks for the reply! I agree that solving this correctly would be fairly complex and the `FlurlClient` reuse workaround seems acceptable in terms of extra code. Like I said, it hasn't been an issue in production, but it's more that it's this nagging feeling in the back of my mind that every URL I call leaves this expensive resource alive that continues to live for 4 more minutes, which takes away

[2016-11-23 14:15] tmenier commented on #139
Nothing formal. I like to discuss the idea in an issue first, which we've already done. Then I'm happy to consider PRs. Try to follow existing code conventions (again, not formal/documented) and be sure you have good test coverage. That's about it!

[2016-11-23 16:30] tmenier commented on #144
I'm leaving this open as a roadmap item for 2.0. Flurl has matured a lot since I first contemplated "smart" instance management based on host and might be worth another look.

[2016-11-23 22:36] tmenier opened #149 "Fix release tag?"
I mistakenly pushed tag `Flurl.Http.1.1.0` to master too soon. There will be at least one more prerelease, then the final. I could [rename the tag](http://stackoverflow.com/questions/1028649/how-do-you-rename-a-git-tag), but then others would have to make sure to do a prune. Or, I could cut my losses and go forward with 1.1.1.

What would @kroniak do?

[2016-11-23 22:47] kroniak commented on #149
@tmenier in the dev brunch change version to 1.1.1, wait for build, merge to master, and release 1.1.1 tag with nugget package.

[2016-11-24 00:41] tmenier commented on #102
@engenb @ScottGuymer @TimWilde I'm adding several more variations of query param checking and I wanted to get your opinion on something. Given this method that checks NON-existence of multiple query params (just name, forget values for now):

`test.ShouldHaveCalled("*").WithoutQueryParams("a", "b", "c");`

I'm trying to decided whether checking for not ANY or not ALL would be more intuitive. For e

[2016-11-24 02:28] tmenier commented on #102
[Flurl.Http 1.1.1 prerelease is now available on NuGet](https://www.nuget.org/packages/Flurl.Http/1.1.1-pre). Here are new query param assertions that have been added:

[code]

Please test if you are able to. I hope to get the full release out soon.

[2016-11-24 02:33] tmenier commented on #149
Thanks! 1.1.1-pre is out, and I don't think I screwed up the tag this time :)

[2016-11-24 02:33] #149 closed

[2016-11-24 15:15] eestein commented on #49
@taleman cool like a cucumber :) Thank you sir 👍

[2016-11-26 15:57] tmenier commented on #145
I'll be closing this issue with the next full release of Flurl.Http (1.1.1) because I believe the changes to HttpTest. I'd still encourage you to verify with the prerelease.

[2016-11-26 15:59] tmenier commented on #148
I'll be closing this issue as unable to reproduce with the next full release of Flurl.Http (1.1.1). Have you tried my suggestions?

[2016-11-26 16:01] tmenier commented on #143
Closing this issue because I think global configuration is what you're looking for. If I'm wrong, feel free to re-open and we can discuss further.

[2016-11-26 16:01] #143 closed

[2016-11-26 17:24] tmenier commented on #138
My findings were the same. I think there was a problem with your package references. I forked your repo, removed the console app project and recreated it from scratch, copied your original program.cs into it, and installed Flurl.Http from NuGet. Everything built and ran fine. Feel free to reject my PR and try the above steps yourself if you want.

[2016-11-26 17:24] #138 closed

[2016-11-26 22:07] TimWilde commented on #148
Sorry for the delay.

Yep, happy to close this as a peculiarity of our codebase. We've got a work-around, and I'll chase up why we're testing the way we are.

Thanks for taking a look :)

[2016-11-26 22:07] #148 closed

[2016-11-26 23:07] TimWilde commented on #102
I've updated to 1.1.1-pre and I've updated all of our tests to use WithQueryParamValues( object values ) and they all pass (including enumerable properties converted to repeated parameters,) so that looks good to me! :)

And for the _Without_ variants, I agree with you: I think the presence of _any_ of the named params should fail the test as I think it makes most sense as "It is expected that non

[2016-11-28 13:38] codymullins opened #151 "Can't pass a list nulls"
Here's the scenario: I have a filter object which accepts a list of `AssignedToUserIds` which is a `List<int?>`.

If the API is passed a null, it knows to filter for where the `AssignedToUserId == null`. Looks like flurl isn't adding this as a query string parameter. In most cases this is probably preferred, but it would be nice to have a way to accept this in places where it's the desired functio

[2016-11-28 14:03] tmenier commented on #151
How would you pass null in a query string? The literal string `null`?

[2016-11-29 02:17] #146 closed

[2016-11-29 02:17] #102 closed

[2016-11-29 02:17] #67 closed

[2016-11-29 02:18] #145 closed

[2016-11-29 17:53] codymullins commented on #151
Yup, that's how it's currently working in the application. So `https://api.foobar.com/v1/books?authorIds=null` or `https://api.foobar.com/v1/books?authorIds=null&authorIds=12123`

[2016-11-29 23:59] tmenier commented on #151
I guess I would argue that it's not common or even a good practice necessarily for an API to interpret the literal string "null" as a null value. Rather than supporting an odd convention in Flurl, I'd suggest just handling it on the calling end. Something like:

[code]

[2016-12-01 19:05] kenhahn85 opened #154 "Overlapping requests cause errors (during testing)"
Using `Flurl.Http` 1.0.3, I'm using `HttpTest` in uni tests, and one of my tests executes a number of overlapping HTTP requests. On this test, there appears to be race conditions at work. Here are some of the various stack traces I've seen:

Referring to `FlurlHttpException`,
[code]

[code]

[2016-12-01 19:09] tmenier commented on #154
Please upgrade to the latest Flurl.Http. 1.1 was all about concurrency with HttpTest.

[2016-12-01 19:38] codymullins commented on #151
Just curious, why wouldn't it be good practice? Do you know of other ways to query for specifically items with no value? I supposed I could always introduce an enum:

[code]

The only problem is that I have this pattern for querying multiple properties, this would get a little overwhelming.

Any others ideas of typical conventions for querying specifically where these properties are null?

[2016-12-01 19:41] kenhahn85 commented on #154
I've upgraded to 1.1.1, and I get a different error that also seems concurrency-related:

[code]

[2016-12-01 20:32] tmenier commented on #151
How about a new route, like: `https://api.foobar.com/v1/books/unassigned`?

[2016-12-01 22:06] codymullins commented on #151
Yeah, unfortunately this is being used for a search function that the user can specify multiple types so this probably wouldn't work.

No worries, thanks for the quick replies and appreciate the help.

[2016-12-02 14:03] #151 closed

[2016-12-02 21:40] tmenier commented on #151
BTW, the not necessarily a good practice comment was because it's a bit magic-stringy, but I can see how it might be hard to avoid here. Maybe just have a good string parser on the API side that looks for an authorIds value of `all` (the default), `none` (a little more intuitive than `null`), or a comma-delimited list of integers.

[2016-12-03 14:44] yzpopulation opened #155 "can you add Download and upload progress with this code?I have tried to improve it"
`   public class DownloadFileProgressInfo
    {
        private  long _timeTaken;
        private  long _dataSize;
        public  long TimeTaken
        {
            get { return _timeTaken; }
            set
            {
                _timeTaken = value;
                TotalTimeTaken += value;
            }
        }
        public  long TotalTimeTaken { get;private set; }
        public  l

[2016-12-06 17:41] Jacob-McKay commented on #154
I was on 1.0.x and had to keep my xunit unit tests from running in parallel with something like: [Collection("Non-Threadsafe HttpTest Tests")]

Upgraded to 1.1.1 and they run altogether now, happy days!

[2016-12-07 03:29] tmenier commented on #154
@kenhahn85 Can you post the code for your test?

[2016-12-07 03:44] tmenier commented on #155
Thanks for the suggestion. I won't make any promises but I'll keep this issue open and consider progress reporting as a possible future enhancement.

As a side note (to self?) here's a simpler implementation that purports to have at least some cross-platform support:
http://stackoverflow.com/questions/21169573/how-to-implement-progress-reporting-for-portable-httpclient

[2016-12-08 14:27] eestein commented on #113
@tmenier I'm trying to upload a file with some body. Is `PostMultipartAsync` the only way?

On my C# code I have this:

[code]

FormBind reads data from the request and fills the object.

By using `PostMultipartAsync` I know it should start like this:

`.PostMultipartAsync((mp) => { mp.AddFile(name, stream, name)})`, but I can't figure out how to add the object. Do you have any ideas on that?

[co

[2016-12-20 18:16] steve-torchia opened #156 ".NET 4.6.2 target"
Would it be a lot of effort to target .NET 4.6.2?   I could fork and give it a shot if pointed in the right direction.

[2016-12-21 00:16] tmenier commented on #156
@kroniak thoughts?

[2016-12-21 13:27] kroniak commented on #156
@steve-torchia @tmenier There are any problem with net 4.6.2? It supported by net std.

[2016-12-21 17:37] steve-torchia commented on #156
@kroniak @tmenier  perhaps not specifically a 4.6.2 problem.   I have an asp.net core app targeting 4.6.2 and it's looking for System.Diagnostics.DiagnosticSource 4.0.0   The package I have is 4.3.0

      Request starting HTTP/1.1 GET http://localhost:55155/api/values
info: Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker[1]
      Executing action method DataFeedManager.Controllers.Value

[2016-12-22 08:07] kroniak commented on #156
@steve-torchia I cant reproduce this issue

[code]

[code]

[2016-12-22 14:04] andresmoschini opened #157 "WithHeader() does not work as expected on multiple requests"
I am trying to avoid to create a new HttpClient on each request (see #144) because this application is doing a lot of requests and for long time.

But, headers configuration seems to be associated to `HttpClient` instance in place of `FlurlClient` instance, so when I try to set `If-None-Match` header, it is added to the previous ones in place of replace them as you can see in the follow example:

[2016-12-22 14:06] andresmoschini commented on #157
I also tried with `Clone()`, but it neither works.

[2016-12-22 19:15] steve-torchia commented on #156
@kroniak  I think this is a problem with VS2017 and it's rough-around-the-edges tooling.   I'm going to try in VS2015 and report back

[2016-12-27 13:35] DixonDs opened #158 "WithAuth"
Would it be useful to have something like this?
[code]

[2017-01-02 15:30] DixonDs commented on #158
I use some third-party service that requires to pass the Authorization header as follows: `"Authorization: Token token=your_api_token"` .

[2017-01-02 15:31] tmenier commented on #157
You are correct that `WithHeader` sets the header on the client and is subsequently passed with each request. Often that's desired but I can see how it doesn't work here. The quick fix is to do this between calls:

    flurlClient.HttpClient.DefaultRequestHeaders.Clear();

Maybe a fluent `ClearHeaders()` shortcut method would be a better long-term solution?

[2017-01-02 15:35] andresmoschini commented on #157
Mmmm, I think that it is not a good solution because it could generate issues in multi thread scenarios.

[2017-01-02 15:44] tmenier commented on #158
Hmm, that's not exactly a standard approach on their part. Your extension method is a great way to deal with it in your app and a good example of extending Flurl for your specific needs (you could make it even more specific to your app), but I'm going to hold off on adding this to the core. I might change my mind at some point, but until now I haven't had any requests for other auth schemes.

[2017-01-02 17:11] tmenier commented on #157
Yes, good point. There's not a very good work-around for this so I'll get it on the 2.0 roadmap to come up with a fix.

[2017-01-04 11:11] thiagolunardi opened #159 "FlurlMessageHandler bug when raised OperationCanceledException. "Handler did not return a response message.""
First of all, I am a Flurl fan and evangelist. All Kudus for you, @tmenier!

Implementing at UWP W10M app, it is crashing the entire application everytime the `OperationCanceledException` is raised, as example, when reach the preseted timeout.

After several exausting hours trying to solve the problem, I decided to remove the Flurl as NuGet package and attach the source code directly. That was whe

[2017-01-04 14:36] atrauzzi opened #161 "This library is amazing."
Thank you!

[2017-01-04 14:36] #161 closed

[2017-01-05 13:02] pmorelli92 commented on #157
Hi @tmenier , @andresmoschini
I was having the same problem and I think a solution could be to expose a method in FlurlClient that accepts an HttpRequestMessage.
Doing this you can use:

- **IFlurlClient.WithHeader**: To set common and inmutable headers for all the requests of that instance of the HttpClient.
- **HttpRequestMessage.Headers**: To set specific header for the request message.

Flurl

[2017-01-06 02:52] tmenier commented on #157
@pmorelli92 I agree that something along those lines is probably appropriate. I've always said I'd rather provide hooks to get at the underlying HttpClient mechanisms than try to abstract away everything, but there's currently no hook to get at HttpRequestMessage. I'll do some thinking on how to do that in a way that's the most natural fit for the library.

[2017-01-11 03:55] tmenier commented on #159
Thank you and sorry for the delay. Unfortunately I can't accept your PR for a couple reasons:

1. There is no test demonstrating the problem. Without that it's difficult to understand what exactly the bug is and how your change fixes it. (At the very least sample code in the issue would have been helpful. Saying your app "crashes" gives me little to go on.)

2. You are providing responses with sta

[2017-01-11 10:18] thiagolunardi commented on #159
Fair enougth! I will create the evidences and docs for that.
This project deserves a honest contribution.
Tks for the reply, I will be touch ASAP.
Cheers!

[2017-01-11 13:53] thiagolunardi commented on #159
Here, I could reproduce the error.

[code]

[2017-01-11 14:00] thiagolunardi commented on #159
Just reforcing it.

I will try to create a proper fix for that.

[2017-01-11 16:11] thiagolunardi commented on #159
OK!
A new [Pull Request](https://github.com/tmenier/Flurl/pull/162) is there:

1. With a proper demonstration test reproducing the error: `can_simulate_timeout_with_exception_handled`;
2. Providing proper response, so if there is an exception, and it's marked as handled, it just return *null* HttpResponseMessage;
3. All tests are green and happy!

[2017-01-14 17:08] tmenier commented on #159
Ah, I get it now. Good test. I did some digging and it seems the real "culprit" (in my opinion) is HttpClient itself.  You're right, it doesn't like null responses. I [questioned the CoreFX team](https://github.com/dotnet/corefx/issues/15191) on this, we'll see what they come back with for an explanation.

As far as the fix, this is much better. I might make some very minor tweaks (this really cut

[2017-01-16 13:38] thiagolunardi commented on #159
Nice! I really glad that I could contribute a bit with this awesome project. Looking forward for next updates. Thanks for your replies, cheers!

[2017-01-17 14:06] SlyNet opened #163 "SSL Unacceptable certificate handling"
Is there an easy way to determine that request has failed because of invalid certificate to be able to show user friendly error message?

Currently I get `FlurlHttpException` and the only way I've found to check is to access ` exception.Call.Exception.InnerException`. Type for exception is `Javax.Net.Ssl.SSLHandshakeException`. But this type is in xamarin.android assemblies and cannot be reference

[2017-01-19 07:35] lvermeulen opened #164 "Add first-class support for query parameters without a value"
Flurl can parse query params without a value, but doesn't have internal support for this, as evidenced by the fact that it will change the URL that it parses (it adds an = sign):

[code]

[2017-01-20 23:47] kmusick opened #166 "4.6.1 class library unit test "MissingMethodException""
To recreate:

1. Create a new .NetStandard library with a method using Flurl (EDIT: Not necessary, skip to step 2).
2. Create a class library targeting 4.6.1
3. Create project.json with the following
[code]
4. Reload project
5. Try to run the following
[code]

Exception :

Method not found: 'System.Threading.Tasks.Task`1<System.Object> Flurl.Http.HttpExtensions.GetJsonAsync(System.String, System.T

[2017-01-25 01:46] kmusick commented on #166
This can be worked around by using a class library WITHOUT project.json as your Unit Test Project. If you are testing classes from a different project, this solution does not work (only tested with a netstandard library). However, you can add those classes as linked items in the Unit Test Project and test them that way. Not perfect, but it is functional

[2017-01-25 03:30] tmenier commented on #166
I can repro, but I'm not sure off hand how to fix. I tried adding `"System.Threading.Tasks"` and a couple others to your dependencies and that didn't fix it, but I'm not sure that would be a proper fix anyway.

I'll call in the expert at this point. @kroniak any suggestions?

[2017-01-25 08:39] kroniak commented on #166
@tmenier @kmusick
In project.json library test can runs with "dotnet-test-xunit" lib.

I think you must use non project.json test library.

[2017-01-25 14:51] kmusick commented on #166
@kroniak switching to dotnet-test-xunit did not work for me. [This is where I found documentation on it](http://xunit.github.io/docs/getting-started-dotnet-core) and it doesn't seem like a valid solution -> this isn't a dotnet core project, it is a 4.6.1 class library. [Here is some documentation ons witching to project.json for projects](https://oren.codes/2016/02/08/project-json-all-the-things/)

[2017-01-25 15:21] tmenier commented on #164
I like the idea of supporting this. I'll even go so far as to say that if you do `url = new Url(x)`, don't manipulate it, and `url.ToString()` does not equal `x`, that's a bug.

I disagree with one aspect of your implementation. You're basically interpreting a query string like your example as a name without a value. I think I'd argue for it being a value without a name. (There's no actual standar

[2017-01-25 15:45] tmenier commented on #156
Anything to report? Considering closing this issue but wanted to give you a chance report any new findings.

[2017-01-25 16:35] kroniak commented on #166
@kmusick there are a runner which can runs this test. What runner do you use?

[2017-01-25 16:45] tmenier commented on #163
Try defining a `ServicePointManager.ServerCertificateValidationCallback` delegate, set a breakpoint in it, and see if it gets hit when this error occurs.

I'm not sure what Flurl could do to help here other than hard-coding a check for that specific exception name, which doesn't seem like something the library ought to do. If you repro this with just HttpClient and not Flurl, do you get any more u

[2017-01-25 16:47] tmenier commented on #154
Closing due to lack of response. If you still think there's an issue here, feel free to re-open and explain.

[2017-01-25 16:47] #154 closed

[2017-01-25 16:56] kmusick commented on #166
@kroniak I normally use the Resharper test runner, but used Visual Studio runner for testing dotnet-test-xunit library. I tried multiple beta versions of xunit as well after failing with the suggested version from their site. Note, I am above their recommended dotnet --version (I am at 1.0.0-preview4-004233) so that may be causing an issue there. Can you post a working project.json?

[2017-01-25 18:26] steve-torchia commented on #156
Oh man I'm sorry I forgot to report back.  Once I went to VS2015 this problem went away.  I think this is related to the tooling issues in VS2017.

At some point I will try a migration from my VS15 solution to VS17 to see if that "fixes" it.   If you close this out and I find any more relevant information I could just post back here and reopen?

[2017-01-25 18:39] tmenier commented on #156
Yup, works for me. No problem!

[2017-01-25 18:39] #156 closed

[2017-01-29 17:34] lvermeulen commented on #164
Never looked at it in this way. Yeah, sure.

As far as the true value goes, I never gave that much thought so you're right to call that out. That's also why I pointed it out in the PR description. Basically I would like a .SetQueryParam extension method that accepts a value without a name.

[2017-01-31 08:12] kroniak commented on #166
@kmusick  i have no problem with xunit test runner and resharper runner.

Look https://gist.github.com/kroniak/0d7782249ad3ad2c7efedb5d353dc87e

[2017-01-31 19:46] kmusick commented on #166
That looks like a NetCore project while I am attempting to run the tests in
a 4.6.1 Framework Class Library Project. Using a NetCore project may be a
valid workaround but I'm not sure if that means there is a problem with
4.6.1 and Flurl or what.

On Tue, Jan 31, 2017, 2:12 AM Collin <notifications@github.com> wrote:

[2017-01-31 19:56] kroniak commented on #166
Look to gist. I'm not using net core, only net 461. It works.

[2017-02-03 22:21] tmenier commented on #159
Pulled your PR and did a little refactoring. Mainly:

1. To be a good citizen, made sure FlurlMessageHandler always either returns a legit non-null response or throws. FlurlClient deals with the ExceptionHandled setting.
2. What you did with `ReceiveJson` was good but needed to fix up a the other `Receive*` methods to deal with null.

But the essence of your fix is there and your test as-is. Thank

[2017-02-15 11:23] MNF opened #168 "Make FlurlHttpException serializable"
Could you please  Make FlurlHttpException serializable.
We store last exception in Asp.Net Session and not serializable exceptions caused SerializationException during error reporting.
For more reasons see
http://stackoverflow.com/questions/1066701/why-should-i-always-make-my-exceptions-serializable-net

[2017-02-16 01:01] tmenier commented on #168
Good suggestion, I'll look into that.

[2017-02-20 22:57] andycmaj opened #169 "HttpAssertion.WithRequestBody throws ArgumentNullException when any logged calls don't have a RequestBody"
error:
[code]

this seems to happen when i call
[code]

when any of `HttpTest.CallLog` do not have a `RequestBody`.

<img width="1920" alt="screencapture at mon feb 20 14 56 21 pst 2017" src="https://cloud.githubusercontent.com/assets/97470/23144553/445e6914-f77d-11e6-8c5d-82ed29447959.png">
<img width="1920" alt="screencapture at mon feb 20 14 55 57 pst 2017" src="https://cloud.githubusercontent.

[2017-02-20 23:05] andycmaj commented on #169
Here's a simple test that repros this:

<img width="980" alt="screencapture at mon feb 20 15 03 59 pst 2017" src="https://cloud.githubusercontent.com/assets/97470/23144643/e0de6a00-f77d-11e6-90a3-d3dfc2dda335.png">

[code]

[2017-02-20 23:06] andycmaj commented on #169
this seems like 2 bugs actually:
1. `RequestBody` does not seem to get set on logged `HttpCalls` during `HttpTest`s.
2. `WithRequestBody` should not expect EVERY call in the call log to have a populated request body. If you are mixing GETs and POSTs, this will cause exceptions.

[2017-02-21 14:57] tmenier commented on #169
Thanks for reporting. I'll look into fixing soon.

[2017-02-22 02:25] tmenier commented on #164
This turned into a larger effort than I anticipated but I wanted to get it right. A couple points:

First, I flip-flopped and did it the way you envisioned it originally, i.e. name without value. Most web frameworks tend to interpret it that way ([ASP.NET is a notable exception](http://stackoverflow.com/a/7519540/62600), ironically.)

Second, the most complicated aspect of this was that in terms o

[2017-02-22 03:03] tmenier commented on #166
Was it determined this is a test runner issue and not a Flurl issue? Can we close this?

[2017-02-24 21:12] tmenier commented on #164
https://www.nuget.org/packages/Flurl/2.3.0-pre

[2017-02-26 20:40] tmenier commented on #164
Flurl 2.3 full release pushed

[2017-02-26 20:40] #164 closed

[2017-02-26 20:44] #166 closed

[2017-02-26 21:10] tmenier commented on #169
Here's some info on why this is happening.

TL;DR

Instead of doing this:

`"http://foo.bar".SendAsync(HttpMethod.Post, new StringContent("foo", null, "text/plain"))`

do this:

"http://foo.bar".PostStringAsync("foo")

In the first instance, `RequestBody` is null because [StringContent](https://msdn.microsoft.com/en-us/library/system.net.http.stringcontent.aspx) (ironically) doesn't expose the str

[2017-02-27 02:20] tmenier commented on #159
Fix is released: https://www.nuget.org/packages/Flurl.Http/1.1.2

[2017-02-27 02:20] #159 closed

[2017-02-27 02:22] tmenier commented on #169
I decided throw a `FlurlHttpException` with a helpful error message on any attempt to read `HttpCall.RequestBody` when content is not a `CapturedStringContent`. This is now released: https://www.nuget.org/packages/Flurl.Http/1.1.2

[2017-02-27 02:22] #169 closed

[2017-02-27 02:27] tmenier commented on #163
Any luck with this? I don't have any other ideas for you so I'm going to close this issue. You may want to post the question on Stack Overflow.

[2017-02-27 02:27] #163 closed

[2017-03-01 15:45] lvermeulen commented on #164
Sorry, I was out of the country for a bit. Just tried it out: works like a charm and it's exactly what I was looking for. Thanks!

[2017-03-07 10:22] imperat0r opened #173 "Stop overriding my url"
How to stop overriding my url;
I want url that looks like http://www.something.com?adaten%5bagentur_nr%5d=SOMETHING1&v=SOMEZTHING2

I use SetQueryParam method.
But I get this url : http://www.something.com?adaten=[agentur_nr]=SOMETHING1&amp;v=SOMETHING2

1.)Why you change key of my query parametar (I want it encoded but end up decode)?
2.)Why is there &amp; instead of & metween query parameters. M

[2017-03-07 10:52] thiagolunardi commented on #173
It's just [URL Encoding](https://www.w3schools.com/tags/ref_urlencode.asp).

[2017-03-07 11:00] imperat0r commented on #173
Don't understand comment. Request is sent to different Url than it was defined using flurl

[2017-03-07 11:32] thiagolunardi commented on #173
URL Enconding is required, and it's a good practice when building URL.

And Fluent URL is doing that for you in advance. So you don't need to be concerned. Furthermore, it's the same URL, just properly encoded.

[2017-03-07 12:39] imperat0r commented on #173
Ok, but my url does not work because of that. I will use plain HttpClient and make it work.

[2017-03-07 12:56] thiagolunardi commented on #173
I got it, it's because your're trying to create the URL with already encoded values.

[code]

[2017-03-07 13:13] imperat0r commented on #173
Thanks

[2017-03-08 03:40] tmenier commented on #173
`SetQueryParam` also has an optional `isEncoded` argument that, when set to true, indicates that the value is already encoded, so Flurl should leave it alone:

`url.SetQueryParam("x", "don%27t%20touch%20me", true);`

[2017-03-11 14:23] #173 closed

[2017-03-15 14:56] TheMiller2015 opened #174 "Customize datetime-format for posting data"
Hello,

when I post a DateTime-Field with "PostJsonAsync()", the Dateformat is sth like "2017-01-01T13:22:00Z". But I am posting to a php framework which stores the data in a mysql database. MySQL wants the dateformat without the cases "T" and "Z" like this: "yyyy-mm-dd hh:ii:ss".

Is there a way (and if so, what way), to customize this dateformat to be a mysql-friendly format?

Thanks in advance.

[2017-03-16 07:49] thiagolunardi commented on #174
Fluent URL is using Newtonsoft.Json to serialize object. You certainly can configure it using global settings and change that. But, IMHO, recommend you not do that, at least not for that reason. Here is why:

JavaScript - JSON stands for JavaScript Object Notation - specify how dates should be represented, and it uses ISO 8601.

- It's human readable but also succinct
- It sorts correctly
- It inc

[2017-03-16 14:58] tmenier commented on #174
I concur with @thiagolunardi that ideally you should you should handle the date formatting on the server side. (You guys know more about MySQL than I do, but I trust that is sound advice.)

That said, if you must you can tap into Json.NET's [JsonSerializerSettings](http://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonSerializerSettings.htm) like so:

[code]

You would do this once at app

[2017-03-17 11:03] TheMiller2015 commented on #174
Thanks for your answers, helped me a lot!

I came up with modifying the entity on the php-side right before saving it to the datebase. In that way one can be sure, that always the right datetime-syntax is being stored, no matter which client posted data in what format. So nobody has to care.

Thanks!

[2017-03-29 18:46] michaelmsm89 commented on #166
I have the same issue. I have migrated to .csproj.

[code]

I have tried with and without dotnet-test-xunit and get the same exception:
```System.MissingMethodException : Method not found: 'System.Threading.Tasks.Task`1<System.Net.Http.HttpResponseMessage> Flurl.Http.HttpExtensions.PostAsync(Flurl.Http.IFlurlClient, System.Net.Http.HttpContent, System.Threading.CancellationToken, System.Net.Http.H

[2017-03-29 19:29] kroniak commented on #166
@michaelmsm89 do you use vs 2017??

[2017-03-29 19:55] michaelmsm89 commented on #166
@kroniak Yes, I do.

[2017-03-31 10:14] kroniak commented on #166
@michaelmsm89 I dont have vs2017 eat. I will try it and submit feedback.

[2017-03-31 15:13] AuthorProxy opened #175 "Flurl Http Testing framework fails on deserializing default (empty) response more than once"
Given next environment:
[code]

Flurl.Http.Testing gives error each time I try to run next tests:
[code]
When i run this tests in different class in parallel, or manually one by one - everything works as expected,
but when they started sequantially on one run, next error appears:
[code]

Here PrtgMonitorService definition:
[code]

[2017-03-31 15:21] AuthorProxy commented on #175
Looks like the problem is in HttpTest, it failes even if move it localy to each method (the same as xunit did by default).
[code]

[2017-04-02 16:29] tmenier commented on #175
Thank you for reporting, I've been able to reproduce this. The root cause is that when no fake responses have been configured with `HttpTest`, it will default to a 200 response with an empty body. A static instance of that response is re-used whenever needed. However, that response can only be JSON-deserialized once, due to the forward-only stream reading involved.

**The fix:**

I think I'll need

[2017-04-05 17:03] kroniak commented on #166
@michaelmsm89 Sorry, I cant reproduce this issue. I have install vs 2017 and create xunit template project.

[2017-04-10 21:34] mwelsh1118 opened #176 "Flurl switches from PCL reference to .NET Standard reference after upgrading to .NET 4.6.2"
I have a large application targeting .NET 4.5.2 that is referencing Flurl.Http.Signed (and therefore Flurl.Signed) via NuGet.

When I change the target to .NET 4.6.2, I run into MissingMethodExceptions around System.Net.Http.  It seems Flurl is expecting System.Net.Http 4.1.  The rest of the application is expecting System.Net.Http 4.0.

In the .NET 4.5.2 case, I end up with the PCL version of Flu

[2017-04-11 14:13] tmenier commented on #176
Try completely uninstalling both Flurl(.Signed) and Flurl.Http(.Signed) and re-install just Http. If that doesn't work, try [this](http://stackoverflow.com/a/41352866/62600).

Let me know your findings. A couple things are in the works that may address this as well:

1. The next _major_ versions of Flurl (and Http and Signed etc), will tentatively move away from PCLs entirely and go with just .NET

[2017-04-11 15:28] mwelsh1118 commented on #176
Unfortunately, neither worked.  I tried removing Flurl.Http.Signed from the project.json where it is referenced, ran nuget restore, added the reference back to the project.json, and ran nuget restore again (note: I never referenced Flurl.Signed explicitly -- it was always implicitly referenced through Flurl.Http.Signed).  I got the same MissingMethodException in my unit tests.  I also tried adding

[2017-04-11 23:42] kroniak commented on #176
@mwelsh1118 please give me a link to the repo which reproduces this problem.

[2017-04-18 00:32] mwelsh1118 commented on #176
Here you go:
https://github.com/mwelsh1118/FlurlRepro

The real problem exists in a large proprietary application, but I replicated the symptom in the above repo. I'm referencing Flurl via a project.json reference, but I saw the same problem if I switch to PackageReference tags in the csproj file. This repro uses VS 2017, but the problem exists with NuGet 3.4 & VS 2015 as well.

[2017-04-18 10:12] kroniak commented on #176
@mwelsh1118 I dont have any problems with your repo. I see packages and no build errors. I have vs2017 sp1.

[code]

[2017-04-18 13:24] mwelsh1118 commented on #176
@kroniak Please check out the readme for the repo.  It builds fine, but it pulls the netstandard version of Flurl.dll which causes various problems.

[2017-04-18 13:35] kroniak commented on #176
@mwelsh1118 I dont know what to do in this case. NET STD 1.4 include NET462 target. Nuget installer installs this version correctly. I can add a NET462 target and export dlls to package, but we can't do that with all targets 452, 461, 462, 470.

[2017-04-18 13:50] mwelsh1118 commented on #176
@kroniak Flurl.Http has a net45 folder (which gets used when targeting 4.5+) but Flurl itself does not.  I think doing the same for Flurl would fix the problem.

[2017-04-18 13:54] kroniak commented on #176
@mwelsh1118 It does not fix this problem. Nuget will installs NETSTD dll for net 451+. NET45 dll uses only for net 45 which not supported by NETSTD.

[2017-04-18 13:58] mwelsh1118 commented on #176
@kroniak That's not what I'm seeing, at least with Flurl.Http.  The project.lock.json file points to lib/net45/Flurl.Http.dll when I'm targeting .NET 4.6.2.

[2017-04-18 14:08] kroniak commented on #176
@mwelsh1118 I will look this case at this week.

[2017-04-18 23:08] adrianiftode commented on #176
I had the same issue. I created a fresh new .Net 4.6.2 library project, installed Flurl from nuget, created another test project (same 4.6.2) and got this error while running some test. I downgraded the library project to .Net 4.5 and worked ok. With .Net 4.6.2 it installed lots of dependant packages (System.*)

[2017-04-19 01:17] mwelsh1118 commented on #176
I worked around it for the time being by creating my own NuGet packages with a net45 folder that mirrored the portable one. That did indeed fix the problem.

[2017-04-19 11:30] kroniak commented on #176
@mwelsh1118  @adrianiftode  I am working on this problem now on [fix-176](https://github.com/tmenier/Flurl/tree/fix-176).

[2017-04-21 09:26] kroniak commented on #176
https://github.com/NuGet/Home/issues/5075

[2017-04-24 22:22] MNF commented on #168
Note that serialization should be conditionally compiled. It's recommended on full .net framework, but not supported on .Net Core. See
https://github.com/Microsoft/dotnet-apiport/blob/master/docs/HowTo/PlatformPortability.md

[2017-05-07 07:42] ChadJessup opened #177 "FlurlClient.SendAsync throws if response is null, and seems to hide underlying error."
I'm not able to get a PR, nor 100% track down the problem, because I can't build Flurl with VS 2017, boo.
Also, due to the async-ness, and not being able to get the src file debug details from System.Net.Http.dll (for some reason) - also, I can't build Flurl and use the assemblies in VS2017, so hope this helps.

SendAsync in FlurlClient.cs:
https://github.com/tmenier/Flurl/blob/d2cde561b0c1f22510b

[2017-05-07 08:25] ChadJessup commented on #177
Okay, figured it out, I think.

1. Do a GET with .EnableCookies(); - so some domain that returns cookies.
2. Reuse the Client in 1, but change the domain being used (url.WithClient("newDomain.com"))
3. FlurlClient.cs's WriteRequestCookies, violates the laws of mathematics:
https://github.com/tmenier/Flurl/blob/d2cde561b0c1f22510bcfd8dbb162f7be1671091/src/Flurl.Http.Shared/FlurlClient.cs#L220-L230

[2017-05-08 13:54] gjlumsden opened #178 "Calling Dispose() on child FlurlClient results in child being reusable but not the parent. New child clients can no longer be created nor can requests be made."
I have encountered a situation when using a shared `FlurlClient` when managing its lifetime directly so that its underlying `HttpClient` and `HttpMessageHandler` can be reused across multiple threads and concurrent requests. The following code highlights the issue:

[code]
The first request to `MakeRequestAsync()` will succeed, however subsequent calls will fail with an `ObjectDisposedException` u

[2017-05-08 18:09] #174 closed

[2017-05-08 21:01] tmenier opened #179 "Multipart test failing in .NET Core"
[RealHttpTests.can_post_multipart](https://github.com/tmenier/Flurl/blob/master/Test/Flurl.Test.Shared/Http/RealHttpTests.cs#L138-L169) recently started failing in .NET Core. Since no code had changed related to this, I figured something must be broken with httpbin. But why only with .NET Core? I opened up Fiddler and had a look at the requests. The difference is immediately clear from the request

[2017-05-10 09:52] thiagolunardi commented on #177
What are you getting as response?
I mean, from the endpoint itself.

[2017-05-10 10:01] thiagolunardi commented on #178
That's because when you use the `FlurlClientExtensions` as `WithUrl(url)`, this is cloning the parent client, and not copy or creating a new instance of.

So, when you are disposing the `childClient`, actually, you are disposing the `parentClient` itself.

You can check that at [`Flurl/ClientConfigExtensions.cs`](https://github.com/tmenier/Flurl/blob/master/src/Flurl.Http.Shared/ClientConfigExtens

[2017-05-10 10:15] gjlumsden commented on #178
@thiagolunardi I've checked the code, I understand what's happening and how it's happening. However, I don't think what's happening is necessarily correct nor particularly friendly.

I don't think it's right that disposing an the child client cloned from the original allows the clone to be reused after calling `Dispose()` but the original (which is created to _be_ reused so that I can reuse the `H

[2017-05-12 01:41] jparlato opened #180 "I'm getting a 200 response code on a POST request but the content does not have the expected data."
A very weird problem.  I have two projects, one the initial prototype and the second a duplicate of the prototype integrated into a real work item.
The original prototype is using Flurl post to send credentials an endpoint to get an Oaut token.  It works fine and gets a 200  with the token in content.  The same code produces the same 200 but the token content is null.  I've validated that parms to

[2017-05-13 13:48] tmenier commented on #180
I'd like to GitHub issues limited to bug reports and feature requests. Please post this question on [Stack Overflow](http://stackoverflow.com/questions/ask?tags=flurl) and remember to include the relevant code. Thanks.

[2017-05-13 13:48] #180 closed

[2017-05-13 15:33] tmenier commented on #178
First, I think you're correct that there is a bug here. A FlurlClient shares an instance of HttpClient with all of its clones, so obviously when HttpClient is disposed for one, it's disposed for all. However, by design, a FlurlClient can still be reused after Dispose is called; it'll simply instantiate a new HttpClient as needed. What signals it to do this is its internal reference to HttpClient i

[2017-05-16 09:10] gjlumsden commented on #178
@tmenier Apologies for the delay responding here.

This makes total sense. Its heavy stuff is cleaned up, if it's reused they're recreated. I like this pattern having thought about it. My suggested fix would break this completely!

That is what I've done. `return client.WithUrl(aFlurlUrl).GetAsync();` is essentially the pattern I'm using now.

Given the blanket advice is to dispose an `IDisposable

[2017-05-16 20:08] kroniak commented on #179
Work on #176 stops because nuget does not add PCL parget to final package. I am waiting. And I will see to this issue.

[2017-05-31 12:00] d03090 opened #181 "Problem with custom HttpClientHandler using FlurlClient"
Hi!

Never reported an issue on GitHub, so I hope I'm doing it the correct way.

I need to add a client certificate to my web requests and tried to achieve it in this way:
[Stackoverflow --> answered by Todd](https://stackoverflow.com/questions/41033337/c-sharp-flurl-add-webrequesthandler-to-flurlclient)

At the end of this answer the "FlurlClient way" is presented. Using and configuring a FlurlCl

[2017-06-04 09:39] markdakers opened #182 "FlurlClient.Clone() should return IFlurlClient, not FlurlClient"
The current signature makes it impossible to provide a custom implementation of IFlurlClient effectively (unless this is the intentionion).

[2017-06-05 19:42] kroniak commented on #179
I will continue working on issue.

[2017-06-05 20:59] tmenier commented on #178
Sure, feel free if you'd like to take a crack at it. And sorry for the delay. I'm definitely inclined to keep it simple by just setting `parent.HttpClient` to null (recursively) when the child is disposed.

I generally agree with you about the blanket advice on `IDisposable`, but it seems to be universally agreed that [HttpClient](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/) [is

[2017-06-05 21:40] tmenier commented on #179
I think I found where `TransferEncodingChunked` is turned on:

https://github.com/dotnet/corefx/blob/1f77137ecb1958fe961f1d3b324ec8e2bbcd73c5/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L588-L594

From there I was able to disable chunking and fix the test by [setting the content-length header explicitly](https://github.com/tmenier/Flurl/commit/2ad2019078a4b289e25ead4ad

[2017-06-06 17:08] tmenier commented on #177
@ChadJessup Sometimes a code snippet is worth a thousand words. :) Could you provide one that demonstrates this issue? I tried to follow your steps with this test and everything worked fine:

[code]

Out of curiosity, why would you want to reuse a client instance on 2 different domains?

[2017-06-12 03:58] ChadJessup commented on #177
I apologize for the the delay, to both of you.

I believe this demonstrates the problem:
[code]

A redirect in there seems to be causing some issues.  I haven't had a chance to verify 100% that this is the same code path I mentioned above in the Flurl library, but it's a similar behavior.

[2017-06-12 05:14] ChadJessup commented on #177
I ended up working around this by not reusing the Client.  It seems to be an underlying restriction in the .net CookieContainer, from what I could determine.

As for why I was trying to reuse a client, I'm working on an app that pulls together calls to different REST APIs, across a few domains, a mashup, if you will:
1. Get details from Domain A
1. Call Domain B with payload details from first cal

[2017-06-13 17:47] d03090 commented on #181
I'm still playing around with this issue and I think I found something out.
When I change the Url with `Url.AppendPathSegments` after setting `c.HttpClientFactory = new X509HttpFactory(GetCert())`, it is not working and I get an error.

So, **WORKING**:
[code]

**NOT WORKING**:
[code]

[2017-06-13 18:20] d03090 commented on #181
OMG. Now I know the difference.

`fc.GetJsonAsync();` uses the extension method of `IFlurlClient`
`fc.Url.AppendPathSegments(pathSegments).GetJsonAsync();` uses the extension method of `Url` and so the `IFlurlClient fc` is ignored

[2017-06-14 08:18] jorgeyanesdiez opened #183 "Referenced assembly versions"
Hi Todd,

Loving Flurl so far. I have a question about referenced assembly versions. I am not looking for support on how to fix the error itself, but rather, I am interested in knowing whether the following is normal/intended. Can you shed some light on this please?

I just upgraded my projects to Flurl.Http 1.1.2 which in turn references Flurl 2.3.0.
When I compile my ASP.NET website (on full fra

[2017-06-20 21:26] DEEKEEN opened #184 "Misused header name.(Content-type)"
var getResp = await url
                .WithHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8")
                .WithCookie(cookie.Name, cookie.Value)
                .PostJsonAsync(data)
                .ReceiveString();

  ----> System.InvalidOperationException : Misused header name. Make sure request headers are used with HttpRequestMessage, response headers with HttpRes

[2017-06-20 21:56] DEEKEEN commented on #184
Is this the best solution?
 HttpContent body = new StringContent(companyLiteViewModel.ToString());
            body.Headers.ContentType = new MediaTypeHeaderValue("application/x-www-form-urlencoded");

[2017-06-22 03:49] dcworldwide opened #185 "URI too long error"
When calling PostUrlEncodedAsync I'm receiving an error when the code tries to URL encode a large string (300kb).

[code]

The api we are calling is proprietary and does not accept POSTing application/json content. It only accepts a application/x-www-form-urlencoded payload.

[2017-06-22 07:04] thiagolunardi commented on #185
This is a doubt, not a issue or improve request.

Will be better if you post your question at [StackOverflow with FLURL tag](https://stackoverflow.com/questions/tagged/flurl).

You will have faster help, and it's the proper place to do it.

[2017-06-22 10:42] dcworldwide commented on #185
I'm not doubtful. It's an issue as far as I can tell.

[2017-06-22 12:16] thiagolunardi commented on #185
Can you fork and write a test reproducing the problem?

[2017-06-22 13:08] tmenier commented on #185
Related to https://github.com/dotnet/corefx/issues/1936

[2017-06-22 23:11] dcworldwide commented on #185
No need for a repo, https://github.com/dotnet/corefx/issues/1936 explains the issue perfectly well.

[2017-06-26 13:43] tmenier commented on #184
Use `PostUrlEncodedAsync` instead of `PostJsonAsync`. That header will get set for you.

[2017-06-29 05:02] huyttq commented on #184
You should set content-type like this:
flurlClient.HttpClient.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/x-www-form-urlencoded; charset=UTF-8"))

[2017-07-07 08:01] gitfool opened #186 "FlurlMessageHandler should have a default ctor"
I can't use [HttpClientFactory.Create](https://github.com/aspnet/AspNetWebStack/blob/master/src/System.Net.Http.Formatting/HttpClientFactory.cs#L41) to create a custom delegating handler pipeline that includes [FlurlMessageHandler](https://github.com/tmenier/Flurl/blob/master/src/Flurl.Http.Shared/Configuration/FlurlMessageHandler.cs#L12) because it doesn't have a default ctor.

For example, I'd l

[2017-07-07 10:08] UnderHeavyDevelopment opened #188 "Use Flurl in tests against HttpServer"
I would like to make my Flurl Api tests against real ApiController running in memory (using HttpServer), not using Flurl HttpTest. I found this technique here: https://stackoverflow.com/a/37510032/1453525
However it requires to build HttpRequest message each time and does not have nice Api for testing. Is it possible to run Flurl code against real in-memory ApiController tests?

Following would be

[2017-07-08 19:18] tmenier commented on #184
@DEEKEEN This is semi-related to [another issue that came up recently](https://stackoverflow.com/questions/44515267/how-to-change-the-http-request-content-type-for-flurl-client) in that the way HttpClient validates headers (which I'm not a fan of) is getting in the way.

That said, I still think you intent here is to post your data URL-encoded, not JSON-encoded, hence you should use `PostUrlEncode

[2017-07-10 06:21] Im-PJ commented on #32
[code]
I tried this but still it didn't timeout.

[2017-07-10 06:39] thiagolunardi commented on #32
Something else happened? Or it's just returning `null`?

[2017-07-10 07:43] Im-PJ commented on #32
It never returns. Infact I have observed http calls using Flurl never does timeout if server is down or not reachable. That's why I was adding timeout. Is it how httpclient behaves or it is something related to Flurl by design

[2017-07-12 08:50] DEEKEEN commented on #184
Thx guys.

[2017-07-12 08:50] #184 closed

[2017-07-12 13:54] tmenier commented on #181
Sorry for the delay. Can you post this on Stack Overflow? It's a good question that could help others, but it's not an "issue". I can answer today.

[2017-07-12 13:56] #181 closed

[2017-07-12 14:20] tmenier commented on #182
Confirmed. Fix is pushed and will go out in the next release.

[2017-07-12 14:30] tmenier commented on #183
@kroniak Could you investigate? I suspect [this](https://github.com/tmenier/Flurl/blob/master/src/Flurl/project.json#L24-L26) is the cause but I'm not sure I fully understand the platform compatibility implications of just changing it.

[2017-07-12 14:30] d03090 commented on #181
@tmenier https://stackoverflow.com/questions/45060556/custom-httpclienthandler-using-flurlclient-doesnt-use-clientcertificate

[2017-07-12 16:05] tmenier commented on #186
Agree with fix. I'd like to merge it into dev instead of master, but since it's so small I'll just add the change manually. Will go out with next release.

[2017-07-12 16:34] tmenier commented on #188
`HttpTest` was designed to intercept calls, record them in a log, and return fake responses. If you want to assert the results of "real" calls, I'm not sure how it can help you.

The above example is incomplete. I think you need a better sample of what you're actually trying to do in the test, and what you want to assert at the end.

If you can provide more details I can probably help, but I would

[2017-07-12 16:34] #188 closed

[2017-07-12 16:56] tmenier commented on #188
Another way to put is HttpTest is for **_isolated testing of code that uses Flurl_**. It's not for testing APIs, and it has nothing to do with _using_ Flurl to make calls inside the test itself. Is that what you're looking to do? Making calls to an in-memory HttpServer using Flurl is possible, but it has nothing to do with HttpTest. If that's you want, please ask that on Stack Overflow.

[2017-07-12 19:32] gitfool commented on #182
@tmenier It would be nice to have a `DeepClone` too.

A common scenario, for me at least, is to always inject a shared IFlurlClient (to control HttpClient instances and their reuse). It's not common, but a few instances require customization to settings, which must be carefully isolated to that instance only, so I have to do the following dance:
[code]
Thoughts?

[2017-07-12 19:35] gitfool commented on #186
Cool. I'll switch to dev for future PRs.

[2017-07-12 19:39] tmenier commented on #182
Could you create a new issue for that? For tracking purposes, as it's a completely different topic.

[2017-07-12 19:40] gitfool commented on #182
Sure.

[2017-07-12 19:41] gitfool opened #189 "Add DeepClone to FlurlClient"
A common scenario, for me at least, is to always inject a shared IFlurlClient (to control HttpClient instances and their reuse). It's not common, but a few instances require customization to settings, which must be carefully isolated to that instance only, so I have to do the following dance:
[code]
Thoughts?

[2017-07-12 19:46] gitfool commented on #157
I really need this too. I've got a couple of ideas and will try to find the time to put a PR together.

[2017-07-12 20:04] tmenier commented on #157
@pmorelli92 @gitfool I should have updated this issue a while back. Flurl.Http has `SendAsync` (and `PostAsync`, etc) that take `HttpContent` objects [as of 1.0](https://github.com/tmenier/Flurl/releases/tag/Flurl.Http.1.0.0). You give up some fluent prettiness so there still might be a potential enhancement here, but it's one way to set per-request headers for now.

[2017-07-12 20:18] gitfool commented on #157
Yeah I saw that, but that approach gives up what I love most about Flurl. Thinking...

[2017-07-13 06:22] gitfool commented on #189
Thinking about this some more; the problem with DeepClone is it depends on how deep you want the copy to be, but the common case would most likely be just to clone Settings for isolated configuration.

Also, given Clone is currently only implemented on FlurlClient and FlurlHttpSettings, and they're not implementing ICloneable.Clone, the best approach might be to add a default parameter to FlurlCli

[2017-07-13 09:39] gitfool commented on #144
I think Flurl should continue to keep it simple. Given it hangs FlurlClient instances off HttpClient instances, the same best practices can be used to manage instance lifetime.

For example, I use the Autofac IoC container to wire everything up and inject a shared IFlurlClient instance as required. This would usually be a singleton _but_ can be wired up as instance per lifetime scope when used wit

[2017-07-13 10:11] JulianRooze commented on #144
@gitfool I understand that, but I'm not sure if keeping a singleton IFlurlClient is even a valid solution, because the `WithHeader` method adds headers to the `DefaultRequestHeaders` of the `HttpClient` instance. So if you use a singleton HttpClient (effectively) and `WithHeader` then I think you'll end up with race conditions. Correct me if I'm wrong.

Honestly, in a perfect world I'd like to see

[2017-07-13 13:13] tmenier commented on #189
To be honest, not cloning the settings on FlurlClient.Clone may have just been an oversight. I'll do some thinking on whether just changing it is likely to cause unexpected behavior in any realistic scenarios.

Also note that Clone's main reason for existing is to support FlurlClient.WithUrl and Url.WithClient. I don't expect most people would have any need to call it directly, but I did make it p

[2017-07-13 20:22] gitfool commented on #189
I see. In that case I'd try to avoid generating garbage and that's easy and predictable with copy-on-write semantics. Interestingly, that's what you're already doing for FlurlClient.WithUrl and Url.WithClient but not consistently with everything else.

The best way forward would be a breaking change to remove Clone from the public interface and leave it for internal use only, or removed if an inte

[2017-07-13 21:50] gitfool commented on #144
@JulianRooze Yeah using singletons you need to be isolate changes, ideally using copy-on-write semantics to avoid excessive redundant copying. I'm proposing a solution [here](https://github.com/tmenier/Flurl/issues/189#issuecomment-315191231).

[2017-07-16 09:51] kroniak commented on #183
@tmenier I have delete it in vs2017 version. Wait for PR.

[2017-07-16 13:24] jorgeyanesdiez commented on #183
Thanks a lot for all your hard work

[2017-07-16 17:08] hellboy81 commented on #188
The same issue

[2017-07-16 18:15] tmenier commented on #189
I agree that copy-on-write should be followed more consistently. I have some ideas of my own that will also solve the headers issue and improve HttpClient reuse in scenarios where FlurlClient isn't managed explicitly.  I'm pretty sure it'll involve breaking changes, so I'd like to hold off on until Flurl.Http 2.0. That could be coming sooner than later though; I have someone working on compatibili

[2017-07-16 18:46] tmenier commented on #189
@gitfool Sorry, disregard that last comment. I definitely do NOT want to clone Settings by default. I just needed to think about why Clone exists in the first place and I had sort of an a-ha moment. :) I'll explain in another comment, going to delete these so they don't cause confusion.

[2017-07-16 19:16] tmenier commented on #189
To add more clarity to why `FlurlClient.Clone` exists (I had to remind myself actually), it is so that a **FlurlClient can be reused with multiple URLs**. That's it. You could say I painted myself into a bit of a corner with the `FlurlClient.Url` property, and creating new FlurlClients _with as much shared state as possible_ (including HttpClient and Settings) is really an implementation detail to

[2017-07-16 19:28] tmenier commented on #185
I'd like to fix this by changing [Url.EncodeQueryParamValue](https://github.com/tmenier/Flurl/blob/master/src/Flurl.Shared/Url.cs#L138) to use `Utility.UrlEncode` instead of `Uri.EscapeDataString`, but that's not supported on all targeted platforms unfortunately. Depending on major changes under consideration for #176, we might be able to do this after that is resolved but I'm not sure yet.

[2017-07-16 20:30] gitfool commented on #189
Thanks for the background. I think what I've proposed would work if you continue to share as much state as possible by default. Breaking that coupling would work too, but I'd hope this approach wouldn't force me to repeat myself where I want to share state like settings and default headers at global or inner scopes.

I'm already using HttpClientFactory wired up to a FlurlClient _per test_. In othe

[2017-07-16 21:10] tmenier commented on #178
Looking at this again, recursively setting `parent.HttpClient` to null won't solve this. What if it's the parent that's disposed? You'd have the same problem with the child. Or if you have 2 children cloned from the same parent and dispose one of them, you'd have the same problem with the sibling.

Hmm...a proper fix would be more elaborate than I'd like. In hindsight it probably would have been b

[2017-07-16 21:24] tmenier commented on #189
Thanks. Couldn't you achieve the same (avoid repeating yourself) by writing it as an extension method of FlurlClient in your app? The reason I'm resisting adding this to the core is that it just doesn't strike me as a very common scenario.

[2017-07-16 21:27] tmenier commented on #189
^^^ Specifically for solving the Settings problem anyway. I'm still open to solving the headers issue in 1.x, but let's discuss that in #157.

[2017-07-16 23:55] tmenier commented on #186
Done and released to NuGet.

[2017-07-16 23:55] #186 closed

[2017-07-16 23:55] tmenier commented on #182
Done and released to NuGet

[2017-07-16 23:55] #182 closed

[2017-07-16 23:55] tmenier commented on #175
Done and released to NuGet.

[2017-07-16 23:55] #175 closed

[2017-07-17 03:24] tmenier commented on #176
@kroniak With my last 2 commits I am able to build in VS 2017 and CLI and all tests are passing. However, AppVeyor is not happy. I thought that might be the case with my last commit: https://github.com/tmenier/Flurl/commit/3ea3f5

Related issues:
https://github.com/dotnet/cli/issues/5504
https://github.com/dotnet/project-system/issues/1369

Might help but I'm not sure:
https://github.com/onovotny/

[2017-07-17 09:46] UnderHeavyDevelopment commented on #188
@tmenier, @hellboy81: Please find question here: https://stackoverflow.com/questions/45140884/how-to-write-efficient-unit-integration-tests-for-rest-service-and-client

[2017-07-17 15:09] tmenier commented on #176
This is looking good, we'll try to get a prerelease out in the next couple days. I want to be sure and test what @adrianiftode saw (I have noticed this too): Currently when Flurl.Http is pulled into .NET 4.6 projects, it pulls with it about a dozen additional libraries it shouldn't need, presumably because it's using the PCL version. The PackageTesters confirm this. When the prerelease is live, le

[2017-07-17 16:11] kroniak commented on #176
@tmenier prereleasing versions are avalible in

[code]
Nuget pulls additional packages from NETSTD dependicies for net4.6, not PCL, I see.

[2017-07-17 18:31] tmenier commented on #176
@kroniak I removed all nuget packages from the NET45 and NET461 package testers, then reinstalled Flurl.Http 1.2 (from appveyor feed) in both. That worked perfectly - both contain just the 3 packages. However, the NET461 version will not build. It's saying it needs a reference to System.Net.Http 4.0. If I add that to the project it will probably work, but I shouldn't need to do that, right? I also

[2017-07-17 18:35] kroniak commented on #176
I see that bug.

I will look deeper it today.

And PCL tester points to wrong PCL target. Now it 259, JSON 10 drop SL5 PCL.

пн, 17 июл. 2017 г. в 21:31, Todd Menier <notifications@github.com>:

[2017-07-17 19:02] kroniak commented on #176
@tmenier

3 scenario:

1. Update from old Flurl.
All is fine, but many dependencies will be deleted manually.

2. New project net45\net461\net462+.
New version of nuget client in VS2017 is using net45+ lib. You are seeing only 3 dependencies and System.Http;

3. Drop all package and reinstall.
In this case you have manually drop System.Http package and remove system reference on System.Http. After